<small class="m-l-1"
      onaftersave="listadoCtrl.modificarBorrar($index,elementoLista)" 
      editable-text="elementoLista" 
      ng-repeat="elementoLista in listadoCtrl.listado track by $index" ng-if="!listadoCtrl.ignorarPrimeroActivado || $index > 0">
      <button class="btn btn-xs btn-primary" 
              ng-click="listadoCtrl.volverPrincipal($index); $event.stopPropagation()"
              ng-show='listadoCtrl.volverPrincipalActivado'> 
        ↑
      </button>
      {{elementoLista}}
</small>
<small class="m-l-1"
      editable-text="listadoCtrl.agregarNuevo.mensaje"
      onshow="listadoCtrl.borrarOnShow()"
      onbeforesave="listadoCtrl.agregarALista($data)" 
      onaftersave="listadoCtrl.agregarNuevo.mensaje='+ Agregar';return"
      oncancel="listadoCtrl.agregarNuevo.mensaje='+ Agregar'">
    {{listadoCtrl.agregarNuevo.mensaje}}
</small>