<section>
  <uib-tabset active="active">
    <uib-tab index="0" heading="Datos Principales"> 
      <div id="preloading" class="preloader" ng-show="datosPrincipalesCargando"><img src="images/loader.gif"></div>
        <div class="row p-t-2" ng-show="!datosPrincipalesCargando">
          <div class="col-sm-12">
            <h1 class="nombre">
              <span editable-text="datosPrincipales.titulo" 
                          onbeforesave="editarDatoPrincipal('titulo',$data)"> 
                          {{ datosPrincipales.titulo || "Titulo" }}</span>
              <span editable-text="datosPrincipales.nombre" 
                          onbeforesave="editarDatoPrincipal('nombre',$data)"> 
                          {{ datosPrincipales.nombre || "Nombre" }}</span>
            </h1>
            <h2 class="ocupacion">Ocupacion Principal: 
              <span editable-text="datosPrincipales.ocupacion" 
                          onbeforesave="editarDatoPrincipal('ocupacion',$data)"> 
                          {{ datosPrincipales.ocupacion || "Ocupacion" }}</span>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            
            <ul class="list-group m-b-0">
                  
                <li class="list-group-item">
                    <span class="label label-primary">Sexo</span>
                    <span editable-text="datosPrincipales.sexo" 
                          onbeforesave="editarDatoPrincipal('sexo',$data)"  
                          class="m-l-1"> {{ datosPrincipales.sexo || "No definido" }}</span>
                </li> 
                <li class="list-group-item">
                    <span class="label label-primary">Nacionalidades</span>
                    <span editable-text="datosPrincipales.nacionalidad" 
                          onbeforesave="editarDatoPrincipal('nacionalidad',$data)"  
                          class="m-l-1"> {{ datosPrincipales.nacionalidad || "No definido" }}</span>
                </li> 
                <li class="list-group-item">
                    <span class="label label-primary">Lugar Nacimiento</span>
                    <span editable-text="datosPrincipales.lugarNacimiento" 
                          onbeforesave="editarDatoPrincipal('lugarNacimiento',$data)"  
                          class="m-l-1"> {{ datosPrincipales.lugarNacimiento || "No definido" }}</span>
                </li> 
                <li class="list-group-item">
                    <span class="label label-primary">Fecha Nacimiento</span>
                    <span editable-text="datosPrincipales.fechaNacimiento" 
                          onbeforesave="editarDatoPrincipal('fechaNacimiento',$data)"  
                          class="m-l-1"> {{ datosPrincipales.fechaNacimiento || "No definido" }}</span>
                </li> 
                <li class="list-group-item">
                    <span class="label label-primary">Lugar Fallecimiento</span>
                    <span editable-text="datosPrincipales.lugarFallecimiento" 
                          onbeforesave="editarDatoPrincipal('lugarFallecimiento',$data)"  
                          class="m-l-1"> {{ datosPrincipales.lugarFallecimiento || "No definido" }}</span>
                </li> 
                <li class="list-group-item">
                    <span class="label label-primary">Fecha Fallecimiento</span>
                    <span editable-text="datosPrincipales.fechaFallecimiento" 
                          onbeforesave="editarDatoPrincipal('fechaFallecimiento',$data)"  
                          class="m-l-1"> {{ datosPrincipales.fechaFallecimiento || "No definido" }}</span>
                </li> 
                <li class="list-group-item">
                  <span class="label label-primary">Enfermedades</span>
                  <ul class="nav nav-pills rounded m-t-1">
                    <li role="presentation" class="active" 
                        onaftersave="listaEnfermedades.modificarBorrarEnfermedad($index,enfermedad)" 
                        editable-text="enfermedad" 
                        ng-repeat="enfermedad in datosPrincipales.enfermedades track by $index">
                        <a href="#" class="bg-mountain_meadow">{{enfermedad}}</a>
                    </li>
                    <li role="presentation" 
                        editable-text="listaEnfermedades.enfermedadNueva.mensaje" 
                        onaftersave="listaEnfermedades.agregarEnfermedadNueva(listaEnfermedades.enfermedadNueva.mensaje)" 
                        e-ng-focus="listaEnfermedades.borrarCampo()" 
                        oncancel="listaEnfermedades.mostrarCampo()">
                        <a href="#">{{listaEnfermedades.enfermedadNueva.mensaje}}</a>
                    </li>
                  </ul>
                </li> 
            </ul>
          </div>

          <div id="parentescos" class="col-sm-12 col-md-6">
            <table>
              <tr><th class="text-center" colspan="4">Parentescos</th></tr>
              <tr><th>ID</th><th>Personaje</th><th>Relacion</th><th>Abrir personaje</th></tr>
              <tr ng-repeat="parentesco in parentescos track by $index">
                  <td><button ng-show="borrarParentescoActivado" ng-click='borrarParentescoExistente($index);$event.stopPropagation()' class="btn-danger">-</button>{{parentesco.parentescoID}}</td>
                  <td>{{parentesco.nombrePersonaje}}</td>
                  <td>{{parentesco.relacionDirecta}}</td>
                  <td ng-click="abrirPersonajeSeleccionado($index,'existente')"> Abrir </td>
              </tr>
              <tr ng-repeat="parentesco in parentescosAgregarReferencia track by $index">
                  <td><button ng-click='borrarReferenciaNuevoParentesco($index)' class="btn-danger">-</button> (Nueva Ref) {{parentesco.parentescoID}}</td>
                  <td>{{parentesco.nombrePersonaje}}</td>
                  <td><span editable-text="parentesco.relacionDirecta" ng-click="$event.stopPropagation()">{{parentesco.relacionDirecta || "Relacion directa"}}</span> - <span editable-text="parentesco.relacionInversa" ng-click="$event.stopPropagation()">{{parentesco.relacionInversa || "Relacion Inversa"}}</span></td>
                  <td ng-click="abrirPersonajeSeleccionado($index,'nuevaRef')"> Abrir </td>
              </tr>
              <tr ng-repeat="parentesco in parentescosNuevos track by $index">
                  <td><button ng-click='borrarParentescoNuevo($index)' class="btn-danger">-</button> {{"Parentesco Nuevo"}}</td>
                  <td>
                      <span editable-text="parentesco.nombrePersonaje" e-typeahead-min-length="3" e-uib-typeahead="personajes.nombre for personajes in autocompletarPersonaje($viewValue)" e-typeahead-wait-ms="100" e-typeahead-on-select="actualizarParentescoNuevoExistente($index,$item)" e-typeahead-no-results="parentescosNoResults" e-typeahead-loading="cargandoNombres" onbeforesave="revisarSiParentescoExiste($data)">{{parentesco.nombrePersonaje || "nuevo parentesco"}}</span>
                      <i ng-show="cargandoNombres" class="glyphicon glyphicon-refresh"></i>
                      <div ng-show="parentescosNoResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</div></td>
                  <td><span editable-text="parentesco.relacionDirecta">{{parentesco.relacionDirecta || "Relacion directa"}}</span> - <span editable-text="parentesco.relacionInversa">{{parentesco.relacionInversa || "Relacion Inversa"}}</span></td>
              </tr>
            </table>
            
            <div class="row">
              <button ng-click='agregarParentesco()' class="btn btn-success m-t-2 m-l-1">Agregar Parentesco</button>
              <button ng-click='borrarParentescoActivado = !borrarParentescoActivado' class="btn m-t-2">{{borrarParentescoActivado? "Desabilitar" : "Habilitar"}} borrar parentesco existente</button>
            </div>
              
          </div>

        </div>
      
      <div class="bottom"></div>

    </uib-tab>

    <uib-tab index="1" heading="Hoja de servicio">
      <div id="hojaServicioTabs" class="p-t-1">
        <uib-tabset active="active">
          <uib-tab index="0" heading="Listado">
            <div class="p-t-1"> 
              <table class="table-left">
                <tr ng-click="abrirElemento(0)"><th>Carrera</th><th>Clase</th><th>Institución</th><th>Al mando de</th><th>Lugar</th><th>Fecha</th></tr>
                <tr ng-click="abrirElemento(1)"><td>Carrera de armas</td><td>Una clase</td><td>Comando General</td><td>alguien</td><td>Puerto B</td><td>Enero 2016</td></tr>
                <tr ng-click="abrirElemento(2)"><td>Carrera de armas</td><td>Una clase</td><td>Comando General</td><td>alguien</td><td>Puerto B</td><td>Enero 2016</td></tr>
                <tr ng-click="abrirElemento(3)"><td>Carrera de armas</td><td>Una clase</td><td>Comando General</td><td>alguien</td><td>Puerto B</td><td>Enero 2016</td></tr>
                <tr ng-click="abrirElemento(4)"><td>Carrera de armas</td><td>Una clase</td><td>Comando General</td><td>alguien</td><td>Puerto B</td><td>Enero 2016</td></tr>
              </table>
            </div>
          </uib-tab>
          <uib-tab index="$index + 1" ng-repeat="tab in tabsArray" heading="{{tab[1].title}}">
          	<div class="row p-t-2">
              <div class="col-sm-12">
                <p>{{tab[1].content}}</p>
                <hr>
                <p class="text-right"><button class="btn btn-danger" ng-click="cerrarElemento(tab[0])">Cerrar Elemento</button></p>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </uib-tab>

   	<uib-tab index="3" heading="Datos según documentación">
      <div class="row p-t-2">
        <div class="col-sm-12 col-md-4">
          <div class="fotoPerfil">
            <img class="img-responsive img-thumbnail p-a-2" src="images/perfilVacio.jpg" />
          </div>
        </div>
        <div id="notasAdicionales" class="col-sm-12 col-md-8">
          <div class="panel panel-primary">
              <header class="panel-heading">
                <h4 class="m-a-1">Comentarios</h4>
              </header>
            
              <div class="p-a-1">

                <button class="btn btn-primary" ng-click="agregarNotaVacia()">Agregar Comentario</button>

                <div class="panel panel-default m-b-0 m-t-1" ng-repeat="nota in notas track by $index">
                	<div class="panel-body">
                		<button type="button" 
                    				class="close" 
                    				aria-label="Cerrar" 
                    				ng-click="eliminarNota($index)">
                    				<span aria-hidden="true">&times;</span></button>
                		<p class="notaContenido" 
                				editable-textarea="nota.nota" 
                				e-rows="2" 
                				buttons="right" 
                				onaftersave="modificarNota($index,nota.nota)">{{nota.nota || "Click para editar"}}</p>
                    <div class="clearfix m-t-1">
                        <div class="notaReferencia pull-left">Fecha Historica: <span editable-text="nota.fechaHistorica" 
                                 onaftersave="modificarFechaHistorica($index,fechaHistorica)">{{nota.fechaHistorica || "ND"}}</span></div>
                    </div>
                    <div class="clearfix m-t-1">
                    	<div class="notaReferencia pull-left">Referencia: <span editable-text="nota.referencia" 
                    			 onaftersave="modificarReferencia($index,nota.referencia)">{{nota.referencia || "ND"}}</span></div>
                    	<div class="notaFecha pull-right">{{nota.fechaCreacion || "Nota Nueva"}}</div>
                    </div>
                	</div>
                </div>
              </div>

            </div>
        </div>
      </div>
	  </uib-tab>
	</uib-tabset>
</section>
<footer class="status-bar">
  <div class="text-right">
    <strong>Ultima Accion: </strong><span class="status-message p-r-1" ng-bind-html="ultimaAccion">{{ultimaAccion}}</span>
    <button ng-click='borrarCambios()' class="btn btn-danger m-r-1" ng-disabled="guardarDatos">Borrar cambios</button>
    <button ng-click='guardarCambios()' class="btn btn-success">Guardar</button>
  </div>
</footer>
