<section>
  <uib-tabset active="active">

    <!-- DATOS PRINCIPALES-->
    <uib-tab index="0" heading="Datos Principales"> 
        <div id="preloading" class="preloader" ng-show="datosPrincipalesCargando"><img src="images/loader.gif"></div>
      <pimc-archivo-datos-principales
        ng-if="!datosPrincipalesCargando"
        datos-principales = "datosPrincipales"
        activo = "!datosPrincipalesCargando"
        notas = "notas"
        reportar-cambio="datosPrincipalesEditados(datosPrincipales, notas)">
      </pimc-archivo-datos-principales>

    </uib-tab>

    <!-- DOCUMENTOS-->
    <uib-tab index="1" heading="Documentos">
      <div class="row p-t-2">
        <div class="col-sm-6">
          <table id="listaDocumentos">
            <tr><th>Tipo Documento</th><th>Cantidad</th><th>Formato</th></tr>
            <tr  ng-repeat="(tipo, resumen) in documentosResumen track by $index">
                <td>{{tipo}}</td><td>{{resumen.cantidad}}</td><td>{{resumen.formatos.join()}}</td>
            </tr>
          </table>
        </div>
        <div class="col-sm-6">
          <table>
            <tr><th>Fecha Inicial</th><th>Fecha Final</th></tr>
            <tr><td>{{documentosFechaRangoInferior}}</td><td>{{documentosFechaRangoSuperior}}</td></tr>
          </table>
        </div>
      </div>
      <div class="row p-t-1">
      	<div class="col-sm-12">
      		<table>
	          <tr><th colspan="4">Documentos</th></tr>
	          <tr><th>Documento ID</th><th>Tipo Documento</th><th>Formato</th><th>Lista de Temas</th></tr>
	          <tr ng-click="abrirDocumentoSeleccionado($index)" ng-repeat="doc in documentos track by $index">
                  <td class="entradaDocumento"> <button ng-show="borrarDocumentosActivado" ng-click='borrarDocumentoExistente($index);$event.stopPropagation()' class="btn-danger">-</button> {{doc.documentoID}}</td><td>{{doc.tipoDocumento}}</td><td>{{doc.formatoDisponible}}</td><td>{{doc.listaTemas}}</td>
              </tr>
              <tr ng-repeat="doc in documentosNuevos track by $index">
                  <td class="entradaDocumentoNuevo"><button ng-click='borrarDocumentoNuevo($index)' class="btn-danger">-</button> Documento nuevo</td><td><span editable-text="doc.tipoDocumento">{{doc.tipoDocumento || "tipo documento"}}</span></td><td><span editable-text="doc.formatoDisponible">{{doc.formatoDisponible || "formato"}}</span></td><td><span editable-text="doc.listaTemas">{{doc.listaTemas || "Temas separados por coma"}}</span></td>
              </tr>
	        </table>
      	</div>
        <button ng-click='agregarDocumento()' class="btn btn-success m-a-2">Agregar Documento</button>
        <button ng-click='borrarDocumentosActivado = !borrarDocumentosActivado' class="btn m-a-2">{{borrarDocumentosActivado? "Desabilitar" : "Habilitar"}} borrar documentos existentes</button>
      </div>
    </uib-tab>

    <!-- PERSONAJES -->
    <uib-tab index="3" heading="Personajes">
      <pimc-tabla-lista-ref
        elemento-relacional="'Personajes'"
        valores="personajesArchivo"
        campos-columnas: "personajesArchivoColumnas.campos",
        nombres-columnas: "personajesArchivosColumnas.nombres",
        tipo-columnas: "personajesArchivosColumnas.tipos"></pimc-tabla-lista-ref>
    </uib-tab>

    <!-- EMBARCACIONES -->
    <uib-tab index="4" heading="Embarcaciones">
      <div class="row p-t-2" ng-show="!hayEmbarcaciones">
          <span>Este Archivo no hace referencia a ninguna embarcacion</span>
      </div>
    	<div class="row p-t-2" ng-show="hayEmbarcaciones">
    		<div class="col-sm-12">
		      <table>
		        <tr><th>Nombre</th><th>Alias</th><th>Tipo de buque</th><th>Categoria</th><th>documentos Referencia</th></tr>
		        <tr ng-repeat="embarcacion in embarcaciones track by $index"><td>{{embarcacion.nombres}}</td><td>{{embarcacion.alias}}</td><td>{{embarcacion.tipo}}</td><td>{{embarcacion.categoria}}</td><td>{{embarcacion.documentosReferencias.join(", ")}}</td></tr>
		      </table>
      	</div>
      </div>
    </uib-tab>

    <!-- LUGARES -->
    <uib-tab index="5" heading="Lugares">
      <div class="row p-t-2" ng-show="!hayLugares">
          <span>Este Archivo no hace referencia a ningún lugar</span>
      </div>
    	<div class="row p-t-2" ng-show="hayLugares">
    		<div class="col-sm-12" ng-show="hayInstituciones">
		      <table >
		        <tr><th>Nombre</th><th>Tipo de Lugar</th><th>Categoria</th><th>documentos Referencia</th></tr>
		        <tr ng-repeat="lugar in lugares track by $index"><td>{{lugar.nombre}}</td><td>{{lugar.tipoLugar}}</td><td>{{lugar.categoria}}</td><td>{{lugar.documentosReferencias.join(", ")}}</td></tr>

		      </table>
      	</div>
      </div>
    </uib-tab>

    <!-- ACTIVIDADES -->
    <uib-tab index="7" heading="Actividades">
        <div class="row p-t-2" ng-show="!hayActividades">
          <span>Este Archivo no hace referencia a ningún lugar</span>
      </div>
    	<div class="row p-t-2" ng-show="hayActividades">
    		<div class="col-sm-12">
		      <table >
                  <tr><th>Nombre</th><th>Tipo</th><th>Descripcion</th><th>Herramientas</th><th>Materiales</th><th>personajes Involucrados</th><th>documentos Referencia</th></tr>
		        <tr ng-repeat="actividad in actividades track by $index"><td>{{actividad.nombre}}</td><td>{{actividad.tipo}}</td><td>{{actividad.descripcion}}</td><td>{{actividad.herramientas}}</td><td>{{actividad.materiales}}</td><td>{{actividad.personajesInvolucrados}}</td><td>{{actividad.documentosReferencias.join(", ")}}</td></tr>

		      </table>
	      </div>
      </div>
    </uib-tab>

    <!-- FECHAS Y SUCESOS -->
    <uib-tab index="8" heading="Fechas y sucesos">
        <div class="row p-t-2" ng-show="!hayFechasSucesos">
          <span>Este Archivo no hace referencia a ninguna fecha ni suceso</span>
      </div>
    	<div class="row p-t-2" ng-show="hayFechasSucesos">
    		<div class="col-sm-12">
		      <table >
		        <tr><th>Fecha</th><th>Lugar</th><th>Descripción del evento</th><th>Categoría</th><th>documentos Referencia</th></tr>
		        <tr ng-repeat="evento in fechasSucesos track by $index"><td>{{evento.fecha}}</td><td>{{evento.lugar}}</td><td>{{evento.descripcion}}</td><td>{{evento.categoriaEvento}}</td><td>{{evento.documentosReferencias.join(", ")}}</td></tr>
		      </table>
		    </div>
		  </div>
    </uib-tab>

    <!-- INSTITUCIONES -->
    <uib-tab index="9" heading="Instituciones">
        <div class="row p-t-2" ng-show="!hayInstituciones">
          <span>Este Archivo no hace referencia a ninguna institución</span>
      </div>
    	<div class="row p-t-2" ng-show="hayInstituciones">
    		<div class="col-sm-12">
		      <table>
		        <tr><th>Nombre</th><th>documentos Referencia</th></tr>
		        <tr ng-repeat="institucion in instutuciones track by $index"><td>{{institucion.nombre}}</td><td>{{institucion.documentosReferencias.join(", ")}}</td></tr>

		      </table>
		    </div>
		  </div>
    </uib-tab>
  </uib-tabset>
</section>
<pimc-barra-estado guardar-cambios="guardarCambios()" borrar-cambios="borrarCambios()"></pimc-barra-estado>
