<section>
  <uib-tabset active="active">

    <!-- DATOS PRINCIPALES-->
    <uib-tab index="0" heading="Datos Principales"> 
        <div id="preloading" class="preloader" ng-show="datosPrincipalesCargando"><img src="images/loader.gif"></div>
    	<!-- <div class="row p-t-2" ng-show="!datosPrincipalesCargando">

        <div id="datosPrincipalesArchivo" class="col-sm-12 col-md-8">

          <div class="panel panel-primary m-b-2">

            <header class="panel-heading">
              <h3 class="m-a-1" editable-text="datosPrincipales.archivoTitulo" 
                	buttons="right" 
                	onbeforesave="datosPrincipales.datoEditado('titulo',$data)" 
                	e-rows="2">{{ datosPrincipales.archivoTitulo }}</h3>
            </header>

            <div class="panel-body">

              <ul class="list-group m-b-0 dos-columnas">
                
                <li class="list-group-item">
                	<span class="label label-primary">Fondo documental</span>
                	<span editable-text="datosPrincipales.archivoFondo" 
                				onbeforesave="datosPrincipales.datoEditado('fondo',$data)"  
                				class="m-l-1"> {{ datosPrincipales.archivoFondo }}</span>
                </li>
                <li class="list-group-item">
                	<span class="label label-primary">Institución fondo</span>
                	<span editable-text="datosPrincipales.institucionFondo" 
                				onbeforesave="datosPrincipales.datoEditado('institucion',$data)"  
                				class="m-l-1"> {{ datosPrincipales.institucionFondo }}</span>
                </li>
                <li class="list-group-item">
                	<span class="label label-primary">Sección</span> 
                	<span editable-text="datosPrincipales.seccion" 
                				onbeforesave="datosPrincipales.datoEditado('seccion',$data)"  
                				class="m-l-1"> {{ datosPrincipales.seccion }}</span>
                </li>
                <li class="list-group-item">
                	<span class="label label-primary">Número de referencia</span>
                	<span editable-text="datosPrincipales.numRefDentroFondo" 
                				onbeforesave="datosPrincipales.datoEditado('numReferencia',$data)"  
                				class="m-l-1"> {{datosPrincipales.numRefDentroFondo}}</span>
                </li>
                <li class="list-group-item fechas-grupo">
                	<span class="label label-primary">Rango de fechas</span> 
                	<span editable-text="datosPrincipales.fechaInicial" 
                				onbeforesave="datosPrincipales.datoEditado('fechaInicial',$data)"  
                				class="fechaInicial m-l-1"> {{ datosPrincipales.fechaInicial }}</span> 
                	<span editable-text="datosPrincipales.fechaFinal" 
                				onbeforesave="datosPrincipales.datoEditado('fechaFinal',$data)"
                				class="fechaFinal">{{ datosPrincipales.fechaFinal }}</span>
                </li>
                <li class="list-group-item">
                	<span class="label label-primary">Folio inicial</span> 
                	<span editable-text="datosPrincipales.folioInicial" 
                				onbeforesave="datosPrincipales.datoEditado('folioInicial',$data)"  
                				class="m-l-1"> {{ datosPrincipales.folioInicial }}</span>
                </li>
                <li class="list-group-item">
                	<span class="label label-primary">Folio final</span> 
                	<span editable-text="datosPrincipales.folioFinal" 
                				onbeforesave="datosPrincipales.datoEditado('folioFinal',$data)"  
                				class="m-l-1"> {{ datosPrincipales.folioFinal }}</span>
                </li>
                <li class="list-group-item">
                	<span class="label label-primary">Legajo</span> 
                	<span editable-text="datosPrincipales.legajo" 
                				onbeforesave="datosPrincipales.datoEditado('legajo',$data)"  
                				class="m-l-1"> {{ datosPrincipales.legajo }}</span>
                </li>
                <li class="list-group-item">
                	<span class="label label-primary">Numero de orden</span> 
                	<span editable-text="datosPrincipales.numOrden" 
                				onbeforesave="datosPrincipales.datoEditado('numOrden',$data)"  
                				class="m-l-1"> {{ datosPrincipales.numOrden }}</span>
                </li>
                <li class="list-group-item">
                	<span class="label label-primary">Numero de páginas</span> 
                	<span editable-text="datosPrincipales.numPaginas" 
                				onbeforesave="datosPrincipales.datoEditado('numPaginas',$data)"  
                				class="m-l-1"> {{ datosPrincipales.numPaginas }}</span>
                </li>

              </ul>
            </div>

            <footer class="footer"></footer>

          </div>

          <div id="sinopsisComentarios">

            <div class="panel panel-primary">

              <header class="panel-heading">
                <h4 class="m-a-1">Sinopsis general y comentarios</h4>
              </header>
            
              <div class="p-a-1">

                <button class="btn btn-primary" ng-click="agregarNotaVacia()">Agregar Comentario</button>

                <div class="panel panel-default m-b-0 m-t-1" ng-repeat="nota in notas track by $index">
                	<div class="panel-body">
                		<button type="button" 
                    				class="close" 
                    				aria-label="Cerrar" 
                    				ng-click="eliminarNota($index)">
                    				<span aria-hidden="true">&times;</span></button>
                		<p class="notaContenido" 
                				editable-textarea="nota.nota" 
                				e-rows="2" 
                				buttons="right" 
                				onaftersave="modificarNota($index,nota.nota)">{{nota.nota || "Click para editar"}}</p>
                    <div class="clearfix m-t-1">
                    	<div class="notaReferencia pull-left">Referencia: <span editable-text="nota.referencia" 
                    			 onaftersave="modificarReferencia($index,nota.referencia)">{{nota.referencia || "ND"}}</span></div>
                    	<div class="notaFecha pull-right">{{nota.fechaCreacion || "Nota Nueva"}}</div>
                    </div>
                	</div>
                </div>

              </div>

            </div>

          </div>
        </div>

        <div id="otrosDatosArchivoColDerecha" class="col-sm-12 col-md-4">

          <div class="panel panel-primary">
            <header class="panel-heading">
              <h4>Palabras Claves</h4>
            </header>
            <div class="panel-body">
            	<ul class="nav nav-pills rounded">
            		<li role="presentation" class="active" 
            				onaftersave="palabrasClaves.modificarBorrarPalabra($index,palabra)" 
            				editable-text="palabra" 
            				ng-repeat="palabra in datosPrincipales.palabrasClaves track by $index">
            				<a href="#" class="bg-mountain_meadow">{{palabra}}</a>
            		</li>
            		<li role="presentation" 
            				editable-text="palabrasClaves.palabraNueva.mensaje" 
            				onaftersave="palabrasClaves.agregarPalabraNueva(palabrasClaves.palabraNueva.mensaje)" 
            				e-ng-focus="palabrasClaves.borrarCampo()" 
            				oncancel="palabrasClaves.mostrarCampo()">
            				<a href="#">{{palabrasClaves.palabraNueva.mensaje}}</a>
            		</li>
            	</ul>
            </div>
          </div>
          
          <div class="panel panel-primary">
            <header class="panel-heading">
              <h4>Anotaciones Catalogación</h4>
            </header>
            <div class="panel-body">
            </div>
          </div>
          
          <div class="panel panel-primary">
            <header class="panel-heading">
              <h4>Estado de Conservación</h4>
            </header>
            <div class="panel-body">
            </div>
          </div>
          
          <div class="panel panel-primary">
            <header class="panel-heading">
              <h4>disponibilidad de consulta</h4>
            </header>
            <div class="panel-body">
              <p editable-text="datosPrincipales.disponibilidad" onbeforesave="datosPrincipales.datoEditado('disponibilidadConsulta',$data)">{{datosPrincipales.disponibilidad}}</p>
            </div>
          </div>
        </div>

      </div>.row -->
      <pimc-archivo-datos-principales
        ng-if="!datosPrincipalesCargando"
        datos-principales = "datosPrincipales"
        activo = "!datosPrincipalesCargando"
        notas = "notas"
        reportar-cambio="datosPrincipalesEditados(datosPrincipales, notas)">
      </pimc-archivo-datos-principales>

    </uib-tab>

    <!-- DOCUMENTOS-->
    <uib-tab index="1" heading="Documentos">
      <div class="row p-t-2">
        <div class="col-sm-6">
          <table id="listaDocumentos">
            <tr><th>Tipo Documento</th><th>Cantidad</th><th>Formato</th></tr>
            <tr  ng-repeat="(tipo, resumen) in documentosResumen track by $index">
                <td>{{tipo}}</td><td>{{resumen.cantidad}}</td><td>{{resumen.formatos.join()}}</td>
            </tr>
          </table>
        </div>
        <div class="col-sm-6">
          <table>
            <tr><th>Fecha Inicial</th><th>Fecha Final</th></tr>
            <tr><td>{{documentosFechaRangoInferior}}</td><td>{{documentosFechaRangoSuperior}}</td></tr>
          </table>
        </div>
      </div>
      <div class="row p-t-1">
      	<div class="col-sm-12">
      		<table>
	          <tr><th colspan="4">Documentos</th></tr>
	          <tr><th>Documento ID</th><th>Tipo Documento</th><th>Formato</th><th>Lista de Temas</th></tr>
	          <tr ng-click="abrirDocumentoSeleccionado($index)" ng-repeat="doc in documentos track by $index">
                  <td class="entradaDocumento"> <button ng-show="borrarDocumentosActivado" ng-click='borrarDocumentoExistente($index);$event.stopPropagation()' class="btn-danger">-</button> {{doc.documentoID}}</td><td>{{doc.tipoDocumento}}</td><td>{{doc.formatoDisponible}}</td><td>{{doc.listaTemas}}</td>
              </tr>
              <tr ng-repeat="doc in documentosNuevos track by $index">
                  <td class="entradaDocumentoNuevo"><button ng-click='borrarDocumentoNuevo($index)' class="btn-danger">-</button> Documento nuevo</td><td><span editable-text="doc.tipoDocumento">{{doc.tipoDocumento || "tipo documento"}}</span></td><td><span editable-text="doc.formatoDisponible">{{doc.formatoDisponible || "formato"}}</span></td><td><span editable-text="doc.listaTemas">{{doc.listaTemas || "Temas separados por coma"}}</span></td>
              </tr>
	        </table>
      	</div>
        <button ng-click='agregarDocumento()' class="btn btn-success m-a-2">Agregar Documento</button>
        <button ng-click='borrarDocumentosActivado = !borrarDocumentosActivado' class="btn m-a-2">{{borrarDocumentosActivado? "Desabilitar" : "Habilitar"}} borrar documentos existentes</button>
      </div>
    </uib-tab>

    <!-- PERSONAJES -->
    <uib-tab index="3" heading="Personajes">
      <div class="row p-t-2" ng-show="!hayPersonajes">
          <span>Este Archivo no hace referencia a ningún personaje</span>
      </div>
      <div class="row p-t-2" ng-show="hayPersonajes">
    		<div class="col-sm-12">
    			<table>
		        <tr><th>Nombre</th><th>Ocupación</th><th>Nacionalidad</th><th>categoria</th><th>documentos Referencia</th></tr>
		        <tr ng-repeat="personaje in personajes track by $index" ng-click="abrirPersonaje(personaje.personajeID)"><td>{{personaje.nombre}}</td><td>{{personaje.ocupacion}}</td><td>{{personaje.nacionalidad}}</td><td>{{personaje.categoria}}</td><td>{{personaje.documentosReferencias.join(", ")}}</td></tr>
		      </table>
    		</div>
    	</div>
    </uib-tab>

    <!-- EMBARCACIONES -->
    <uib-tab index="4" heading="Embarcaciones">
      <div class="row p-t-2" ng-show="!hayEmbarcaciones">
          <span>Este Archivo no hace referencia a ninguna embarcacion</span>
      </div>
    	<div class="row p-t-2" ng-show="hayEmbarcaciones">
    		<div class="col-sm-12">
		      <table>
		        <tr><th>Nombre</th><th>Alias</th><th>Tipo de buque</th><th>Categoria</th><th>documentos Referencia</th></tr>
		        <tr ng-repeat="embarcacion in embarcaciones track by $index"><td>{{embarcacion.nombres}}</td><td>{{embarcacion.alias}}</td><td>{{embarcacion.tipo}}</td><td>{{embarcacion.categoria}}</td><td>{{embarcacion.documentosReferencias.join(", ")}}</td></tr>
		      </table>
      	</div>
      </div>
    </uib-tab>

    <!-- LUGARES -->
    <uib-tab index="5" heading="Lugares">
      <div class="row p-t-2" ng-show="!hayLugares">
          <span>Este Archivo no hace referencia a ningún lugar</span>
      </div>
    	<div class="row p-t-2" ng-show="hayLugares">
    		<div class="col-sm-12" ng-show="hayInstituciones">
		      <table >
		        <tr><th>Nombre</th><th>Tipo de Lugar</th><th>Categoria</th><th>documentos Referencia</th></tr>
		        <tr ng-repeat="lugar in lugares track by $index"><td>{{lugar.nombre}}</td><td>{{lugar.tipoLugar}}</td><td>{{lugar.categoria}}</td><td>{{lugar.documentosReferencias.join(", ")}}</td></tr>

		      </table>
      	</div>
      </div>
    </uib-tab>

    <!-- ACTIVIDADES -->
    <uib-tab index="7" heading="Actividades">
        <div class="row p-t-2" ng-show="!hayActividades">
          <span>Este Archivo no hace referencia a ningún lugar</span>
      </div>
    	<div class="row p-t-2" ng-show="hayActividades">
    		<div class="col-sm-12">
		      <table >
                  <tr><th>Nombre</th><th>Tipo</th><th>Descripcion</th><th>Herramientas</th><th>Materiales</th><th>personajes Involucrados</th><th>documentos Referencia</th></tr>
		        <tr ng-repeat="actividad in actividades track by $index"><td>{{actividad.nombre}}</td><td>{{actividad.tipo}}</td><td>{{actividad.descripcion}}</td><td>{{actividad.herramientas}}</td><td>{{actividad.materiales}}</td><td>{{actividad.personajesInvolucrados}}</td><td>{{actividad.documentosReferencias.join(", ")}}</td></tr>

		      </table>
	      </div>
      </div>
    </uib-tab>

    <!-- FECHAS Y SUCESOS -->
    <uib-tab index="8" heading="Fechas y sucesos">
        <div class="row p-t-2" ng-show="!hayFechasSucesos">
          <span>Este Archivo no hace referencia a ninguna fecha ni suceso</span>
      </div>
    	<div class="row p-t-2" ng-show="hayFechasSucesos">
    		<div class="col-sm-12">
		      <table >
		        <tr><th>Fecha</th><th>Lugar</th><th>Descripción del evento</th><th>Categoría</th><th>documentos Referencia</th></tr>
		        <tr ng-repeat="evento in fechasSucesos track by $index"><td>{{evento.fecha}}</td><td>{{evento.lugar}}</td><td>{{evento.descripcion}}</td><td>{{evento.categoriaEvento}}</td><td>{{evento.documentosReferencias.join(", ")}}</td></tr>
		      </table>
		    </div>
		  </div>
    </uib-tab>

    <!-- INSTITUCIONES -->
    <uib-tab index="9" heading="Instituciones">
        <div class="row p-t-2" ng-show="!hayInstituciones">
          <span>Este Archivo no hace referencia a ninguna institución</span>
      </div>
    	<div class="row p-t-2" ng-show="hayInstituciones">
    		<div class="col-sm-12">
		      <table>
		        <tr><th>Nombre</th><th>documentos Referencia</th></tr>
		        <tr ng-repeat="institucion in instutuciones track by $index"><td>{{institucion.nombre}}</td><td>{{institucion.documentosReferencias.join(", ")}}</td></tr>

		      </table>
		    </div>
		  </div>
    </uib-tab>
  </uib-tabset>
</section>
<pimc-barra-estado guardar-cambios="guardarCambios()" borrar-cambios="borrarCambios()"></pimc-barra-estado>
