<div class="collapse navbar-collapse" uid-collapse="isNavCollapsed" id="menuPIMC">
        <ul class="nav navbar-nav">
          <li><a ng-href="#!/" set-parent-active>Inicio</a></li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="">Perfiles
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                  <li>
                      <a ng-href="#!/personajes" set-parent-active>Perfil de persona</a>
                  </li>
                  <li >
                      <a ng-href="#" ng-repeat="personaje in menuElementosCtrl.elementosAbiertos.personajes track by $index" ng-click="menuElementosCtrl.abrirElemento('personajes', personaje.id)" class="{{(personaje.seleccionado)? 'active':''}}" set-parent-active><span class="glyphicon glyphicon-menu-right btn-xs"></span>{{personaje.texto}}</a>
                  </li>
                  <li>
                      <a ng-href="#!/archivos" set-parent-active>Perfil de archivo</a>
                  </li>
                  <li>
                      <a ng-href="#!/embarcaciones" set-parent-active>Perfil de embarcación</a>
                  </li>
                  <li>
                      <a ng-href="#!/lugares" set-parent-active>Perfil de lugar</a>
                  </li>
                  <li>
                      <a ng-href="#!/instituciones" set-parent-active>Perfil de institución</a>
                  </li>
                  <li>
                      <a ng-href="#!/actividades" set-parent-active>Actividad</a>
                  </li>
                  <li>
                      <a ng-href="#!/eventos" set-parent-active>Evento</a>
                  </li>
              </ul>
          </li>
          <li><a ng-href="#!/busqueda" set-parent-active>Búsqueda de archivos</a></li>
        </ul>
      </div>