<div class="collapse navbar-collapse" uid-collapse="isNavCollapsed" id="menuPIMC">
        <ul class="nav navbar-nav">
          <li><a ng-href="#!/inicio" set-parent-active>Inicio</a></li>
          <li ng-if="$root.isAuthenticated" ><a ng-href="#!/busqueda" set-parent-active> Documentos cargados </a></li>
          <li class="dropdown" ng-if="$root.isAuthenticated">
              <a class="dropdown-toggle" data-toggle="dropdown" href="">Documentos Abiertos [{{menuElementosCtrl.elementosAbiertos.Documentos.length || 0}}]
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ng-if="!menuElementosCtrl.elementosAbiertos.Documentos || menuElementosCtrl.elementosAbiertos.Documentos.length === 0">
                    <a> No hay ningun documento seleccionado</a>
                </li>
                <li ng-repeat="elemento in menuElementosCtrl.elementosAbiertos.Documentos track by $index" class="{{(elemento.seleccionado)? 'active':''}}">
                        <a set-parent-active>
                            <span class="glyphicon glyphicon-menu-right btn-xs" ng-click="menuElementosCtrl.abrirElemento('Documentos', elemento.id)"></span>
                            <span ng-click="menuElementosCtrl.abrirElemento('Documentos', elemento.id)">{{"[" + elemento.id + "] " + elemento.texto}}</span>
                            <span class="glyphicon glyphicon-remove btn-xs" ng-click="menuElementosCtrl.cerrarElemento('Documentos', elemento.id)"></span>                            
                        </a>
                    </li>
              </ul>
          </li>
          <li class="dropdown" ng-if="$root.isAuthenticated">
              <a class="dropdown-toggle" data-toggle="dropdown" href="">Elementos recientes
                  <span class="caret"></span>
              </a>
                <ul class="dropdown-menu">
                  <li ng-if="menuElementosCtrl.menuVacio">
                      <a> No hay ningun elemento abierto</a>
                  </li>
                  <li>
                      <a ng-href="#!/Personajes" ng-if="menuElementosCtrl.elementosAbiertos.Personajes.length > 0" set-parent-active>Personajes</a>
                  </li>
                  <li ng-repeat="elemento in menuElementosCtrl.elementosAbiertos.Personajes track by $index" class="{{(elemento.seleccionado)? 'active':''}}">
                        <a set-parent-active>
                            <span class="glyphicon glyphicon-menu-right btn-xs" ng-click="menuElementosCtrl.abrirElemento('Personajes', elemento.id)"></span>
                            <span ng-click="menuElementosCtrl.abrirElemento('Personajes', elemento.id)">{{"[" + elemento.id + "] " + elemento.texto}}</span>
                            <span class="glyphicon glyphicon-remove btn-xs" ng-click="menuElementosCtrl.cerrarElemento('Personajes', elemento.id)"></span>                            
                        </a>
                  </li>
                  <li>
                      <a ng-href="#!/embarcaciones" ng-if="menuElementosCtrl.elementosAbiertos.Embarcaciones.length > 0" set-parent-active>Embarcaciones</a>
                  </li>
                  <li ng-repeat="elemento in menuElementosCtrl.elementosAbiertos.Embarcaciones track by $index" class="{{(elemento.seleccionado)? 'active':''}}">
                        <a set-parent-active>
                            <span class="glyphicon glyphicon-menu-right btn-xs" ng-click="menuElementosCtrl.abrirElemento('Embarcaciones', elemento.id)"></span>
                            <span ng-click="menuElementosCtrl.abrirElemento('Embarcaciones', elemento.id)">{{"[" + elemento.id + "] " + elemento.texto}}</span>
                            <span class="glyphicon glyphicon-remove btn-xs" ng-click="menuElementosCtrl.cerrarElemento('Embarcaciones', elemento.id)"></span>                            
                        </a>
                  </li>
                  <li>
                      <a ng-href="#!/lugares" ng-if="menuElementosCtrl.elementosAbiertos.Lugares.length > 0" set-parent-active>Lugares</a>
                  </li>
                  <li ng-repeat="elemento in menuElementosCtrl.elementosAbiertos.Lugares track by $index" class="{{(elemento.seleccionado)? 'active':''}}">
                        <a set-parent-active>
                            <span class="glyphicon glyphicon-menu-right btn-xs" ng-click="menuElementosCtrl.abrirElemento('Lugares', elemento.id)"></span>
                            <span ng-click="menuElementosCtrl.abrirElemento('Lugares', elemento.id)">{{"[" + elemento.id + "] " + elemento.texto}}</span>
                            <span class="glyphicon glyphicon-remove btn-xs" ng-click="menuElementosCtrl.cerrarElemento('Lugares', elemento.id)"></span>                            
                        </a>
                  </li>
                  <li>
                      <a ng-href="#!/instituciones" ng-if="menuElementosCtrl.elementosAbiertos.Instituciones.length > 0" set-parent-active>Instituciones</a>
                  </li>
                  <li ng-repeat="elemento in menuElementosCtrl.elementosAbiertos.Instituciones track by $index" class="{{(elemento.seleccionado)? 'active':''}}">
                        <a set-parent-active>
                            <span class="glyphicon glyphicon-menu-right btn-xs" ng-click="menuElementosCtrl.abrirElemento('Instituciones', elemento.id)"></span>
                            <span ng-click="menuElementosCtrl.abrirElemento('Instituciones', elemento.id)">{{"[" + elemento.id + "] " + elemento.texto}}</span>
                            <span class="glyphicon glyphicon-remove btn-xs" ng-click="menuElementosCtrl.cerrarElemento('Instituciones', elemento.id)"></span>                            
                        </a>
                  </li>
                  <li>
                      <a ng-href="#!/actividades" ng-if="menuElementosCtrl.elementosAbiertos.Actividades.length > 0" set-parent-active>Actividades</a>
                  </li>
                  <li ng-repeat="elemento in menuElementosCtrl.elementosAbiertos.Actividades track by $index" class="{{(elemento.seleccionado)? 'active':''}}">
                        <a set-parent-active>
                            <span class="glyphicon glyphicon-menu-right btn-xs" ng-click="menuElementosCtrl.abrirElemento('Actividades', elemento.id)"></span>
                            <span ng-click="menuElementosCtrl.abrirElemento('Actividades', elemento.id)">{{"[" + elemento.id + "] " + elemento.texto}}</span>
                            <span class="glyphicon glyphicon-remove btn-xs" ng-click="menuElementosCtrl.cerrarElemento('Actividades', elemento.id)"></span>                            
                        </a>
                  </li>
                  <li>
                      <a ng-href="#!/eventos" ng-if="menuElementosCtrl.elementosAbiertos.Eventos.length > 0" set-parent-active>Eventos</a>
                  </li>
                  <li ng-repeat="elemento in menuElementosCtrl.elementosAbiertos.Eventos track by $index" class="{{(elemento.seleccionado)? 'active':''}}">
                        <a set-parent-active>
                            <span class="glyphicon glyphicon-menu-right btn-xs" ng-click="menuElementosCtrl.abrirElemento('Eventos', elemento.id)"></span>
                            <span ng-click="menuElementosCtrl.abrirElemento('Eventos', elemento.id)">{{"[" + elemento.id + "] " + elemento.texto}}</span>
                            <span class="glyphicon glyphicon-remove btn-xs" ng-click="menuElementosCtrl.cerrarElemento('Eventos', elemento.id)"></span>                            
                        </a>
                  </li>
              </ul>
          </li>
        <li class="dropdown" ng-if="$root.isAuthenticated">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">Busquedas Avanzadas
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a ng-href="#!/" set-parent-active>Por Personajes</a>
                    <a ng-href="#!/" set-parent-active>Por Embarcaciones</a>
                    <a ng-href="#!/" set-parent-active>Por Lugares</a>
                    <a ng-href="#!/" set-parent-active>Por Instituciones</a>
                </li>
            </ul>
        </li>
        </ul>
      </div>