<section>
  <div id="preloading" class="preloader" ng-show="datosPrincipalesCargando"><img src="images/loader.gif"></div>
  <uib-tabset active="active" ng-show="!datosPrincipalesCargando">

    <!-- DATOS PRINCIPALES-->
    <uib-tab index="0" heading="Datos Principales"> 
        
    	<div class="row p-t-2">

        <div class="col-sm-12 col-md-4">

          <div class="panel panel-primary m-b-2">

            <header class="panel-heading">
              <h3 class="m-a-1">Datos Documento {{documentoID}}</h3>
            </header>

            <div class="panel-body">

              <ul class="list-group m-b-0">
                
                <li class="list-group-item">
                	<span class="label label-primary">Tipo de Documento</span>
                	<span editable-text="datosPrincipales.tipoDocumento" 
                				onbeforesave="datosPrincipales.datoEditado('tipoDocumento',$data)"  
                				class="m-l-1"> {{ datosPrincipales.tipoDocumento || "No definido" }}</span>
                </li>
                <li class="list-group-item">
                	<span class="label label-primary">Estado de conservación</span>
                	<span editable-text="datosPrincipales.estadoConservacion" 
                				onbeforesave="datosPrincipales.datoEditado('estadoConservacion',$data)"  
                				class="m-l-1"> {{ datosPrincipales.estadoConservacion || "No definido" }}</span>
                </li>
                <li class="list-group-item">
                	<span class="label label-primary">Formato Disponible</span> 
                	<span editable-text="datosPrincipales.formatoDisponible" 
                				onbeforesave="datosPrincipales.datoEditado('formatoDisponible',$data)"  
                				class="m-l-1"> {{ datosPrincipales.formatoDisponible || "No definido" }}</span>
                </li>
                <li class="list-group-item fechas-grupo">
                	<span class="label label-primary">Rango de fechas</span> 
                	<span editable-text="datosPrincipales.fechaMinima" 
                				onbeforesave="datosPrincipales.datoEditado('fechaMinima',$data)"  
                				class="fechaMinima m-l-1"> {{ datosPrincipales.fechaMinima || "No definido" }}</span> 
                	<span editable-text="datosPrincipales.fechaMaxima" 
                				onbeforesave="datosPrincipales.datoEditado('fechaMaxima',$data)"
                				class="fechaMaxima">{{ datosPrincipales.fechaMaxima || "No definido"}}</span>
                </li>
              </ul>
            </div>
          </div>

            <div class="panel panel-primary">
            <header class="panel-heading">
              <h4>Palabras Claves</h4>
            </header>
            <div class="panel-body">
            	<ul class="nav nav-pills rounded">
            		<li role="presentation" class="active" 
            				onaftersave="listaTemas.modificarBorrarTema($index,tema)" 
            				editable-text="tema" 
            				ng-repeat="tema in datosPrincipales.listaTemas track by $index">
            				<a href="#" class="bg-mountain_meadow">{{tema}}</a>
            		</li>
            		<li role="presentation" 
            				editable-text="listaTemas.temaNuevo.mensaje" 
            				onaftersave="listaTemas.agregarTemaNuevo(listaTemas.temaNuevo.mensaje)" 
            				e-ng-focus="listaTemas.borrarCampo()" 
            				oncancel="listaTemas.mostrarCampo()">
            				<a href="#">{{listaTemas.temaNuevo.mensaje}}</a>
            		</li>
            	</ul>
            </div>
          </div>
           
        </div>

        <div id="sinopsisComentarios" class="col-sm-12 col-md-8">
 
          <div>
            <div class="panel panel-primary">
              <header class="panel-heading">
                <h4 class="m-a-1">Sinopsis general</h4>
              </header>
                  <div class="p-a-1">
                      <div class="panel panel-default m-b-0 m-t-0">
                          <div class="panel-body">
                              <p class="notaContenido" 
                                    editable-textarea="datosPrincipales.sinopsis" 
                                    e-rows="2" 
                                    buttons="right" 
                                    onaftersave="datosPrincipales.datoEditado('sinopsis',datosPrincipales.sinopsis)">{{datosPrincipales.sinopsis || "Click aqui para agregar sinopsis"}}</p>
                          </div>
                      </div>
                  </div>
            </div>
            <div class="panel panel-primary">

              <header class="panel-heading">
                <h4 class="m-a-1">Comentarios</h4>
              </header>
            
              <div class="p-a-1">

                <button class="btn btn-primary" ng-click="agregarNotaVacia()">Agregar Comentario</button>

                <div class="panel panel-default m-b-0 m-t-1" ng-repeat="nota in notas track by $index">
                	<div class="panel-body">
                		<button type="button" 
                    				class="close" 
                    				aria-label="Cerrar" 
                    				ng-click="eliminarNota($index)">
                    				<span aria-hidden="true">&times;</span></button>
                		<p class="notaContenido" 
                				editable-textarea="nota.nota" 
                				e-rows="2" 
                				buttons="right" 
                				onaftersave="modificarNota($index,nota.nota)">{{nota.nota || "Click para editar"}}</p>
                    <div class="clearfix m-t-1">
                        <div class="notaReferencia pull-left">Fecha Historica: <span editable-text="nota.fechaHistorica" 
                                 onaftersave="modificarFechaHistorica($index,fechaHistorica)">{{nota.fechaHistorica || "ND"}}</span></div>
                    </div>
                    <div class="clearfix m-t-1">
                    	<div class="notaReferencia pull-left">Referencia: <span editable-text="nota.referencia" 
                    			 onaftersave="modificarReferencia($index,nota.referencia)">{{nota.referencia || "ND"}}</span></div>
                    	<div class="notaFecha pull-right">{{nota.fechaCreacion || "Nota Nueva"}}</div>
                    </div>
                	</div>
                </div>

              </div>

            </div>

          </div>
          
        </div>
      </div><!-- .row -->
        
    </uib-tab>
      

    <!-- EMISOR RECEPTOR -->
    <uib-tab index="1" heading="Emisor Receptor">
        <div class="row p-t-1">
                <uib-tabset active="emisorReceptorActivo">
                    <uib-tab ng-repeat="tab in emisorReceptor track by $index" select="emisorReceptorActivo=$index"  heading="{{tab.emisorReceptorID == -1 ? ('Nuevo emisor receptor '+$index) : ('Emisor receptor ' + tab.emisorReceptorID)}}">
                        <div class="row p-a-1"> 
                            <button ng-click='eliminarEmisorReceptor($index)' class="btn btn-danger" ng-disabled="guardarDatos">Borrar</button>
                        </div>
                        <div class="row">
                        <div class="col-sm-12 col-md-6 p-t-2">
                            <div class="panel panel-primary">
                                <header class="panel-heading">
                                    <h4 class="m-a-1">Emisor</h4>
                                </header>
                                <div class="panel-body">
                                    <div class="clearfix m-a-1">
                                        <input type="checkbox" ng-model="emisorEditarCamposOcultosChecked" ng-init="emisorEditarCamposOcultosChecked = false" />  Habilitar campos ocultos
                                    </div>
                                    <ul class="list-group m-b-0">
                                        <li ng-if="(tab.emisor.personaje != '') || emisorEditarCamposOcultosChecked" class="list-group-item">
                                            <span class="label label-primary">Personaje Emisor</span>
                                            <span editable-text="tab.emisor.personaje" 
                                                        onbeforesave="modificarEmisor($index,'personaje',$data)"  
                                                        class="m-l-1"> {{ tab.emisor.personaje || "click para editar"}}</span>
                                        </li>
                                        <li ng-if="(tab.emisor.cargo != '') || emisorEditarCamposOcultosChecked" class="list-group-item">
                                            <span class="label label-primary">Cargo Emisor</span>
                                            <span editable-text="tab.emisor.cargo" 
                                                        onbeforesave="modificarEmisor($index,'cargo',$data)"  
                                                        class="m-l-1"> {{ tab.emisor.cargo || "click para editar"}}</span>
                                        </li>
                                        <li ng-if="(tab.emisor.institucion != '') || emisorEditarCamposOcultosChecked" class="list-group-item">
                                            <span class="label label-primary">Institucion Emisora</span>
                                            <span editable-text="tab.emisor.institucion" 
                                                        onbeforesave="modificarEmisor($index,'institucion',$data)"  
                                                        class="m-l-1"> {{ tab.emisor.institucion || "click para editar"}}</span>
                                        </li>
                                        <li ng-if="(tab.emisor.nota != '') || emisorEditarCamposOcultosChecked" class="list-group-item notaContenido">
                                            <span class="label label-primary">Anotacion Emisor</span>
                                            <p  editable-textarea="tab.emisor.nota" 
                                                e-rows="2" 
                                                buttons="right" 
                                                onaftersave="modificarEmisor($index,'nota',$data)">{{tab.emisor.nota || "click para editar"}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 p-t-2">
                        <div class="panel panel-primary">
                            <header class="panel-heading">
                                <h4 class="m-a-1">Receptor</h4>
                            </header>
                            <div class="panel-body">
                                <div class="clearfix m-a-1">
                                    <input type="checkbox" ng-model="receptorEditarCamposOcultosChecked" ng-init="receptorEditarCamposOcultosChecked = false" />  Habilitar campos ocultos
                                </div>
                                <ul class="list-group m-b-0">
                                        <li ng-if="(tab.receptor.personaje != '') || receptorEditarCamposOcultosChecked" class="list-group-item">
                                            <span class="label label-primary">Personaje Emisor</span>
                                            <span editable-text="tab.receptor.personaje" 
                                                        onbeforesave="modificarReceptor($index, 'personaje', $data)"  
                                                        class="m-l-1"> {{ tab.receptor.personaje || "click para editar"}}</span>
                                        </li>
                                        <li ng-if="(tab.receptor.cargo != '') || receptorEditarCamposOcultosChecked" class="list-group-item">
                                            <span class="label label-primary">Cargo Emisor</span>
                                            <span editable-text="tab.receptor.cargo" 
                                                        onbeforesave="modificarReceptor($index, 'cargo',$data)"  
                                                        class="m-l-1"> {{ tab.receptor.cargo || "click para editar"}}</span>
                                        </li>
                                        <li ng-if="(tab.receptor.institucion != '') || receptorEditarCamposOcultosChecked" class="list-group-item">
                                            <span class="label label-primary">Institucion Emisora</span>
                                            <span editable-text="tab.receptor.institucion" 
                                                        onbeforesave="modificarReceptor($index, 'institucion',$data)"  
                                                        class="m-l-1"> {{ tab.receptor.institucion || "click para editar"}}</span>
                                        </li>
                                        <li ng-if="(tab.receptor.nota != '') || receptorEditarCamposOcultosChecked" class="list-group-item notaContenido">
                                            <span class="label label-primary">Anotacion Emisor</span>
                                            <p  editable-textarea="tab.receptor.nota" 
                                                e-rows="2" 
                                                buttons="right" 
                                                onaftersave="modificarReceptor($index, 'nota',$data)">{{tab.receptor.nota || "click para editar"}}</p>
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                    </uib-tab>
                    <uib-tab-agregar text="Agregar" handler="agregarEmisorReceptor()">
                    </uib-tab-agregar>
                </uib-tabset>
        </div> <!-- Row -->
    </uib-tab>
    <!-- PERSONAJES -->
    <uib-tab index="2" heading="Personajes">
    	<div class="row p-t-2">
    		<div class="col-sm-12">
                <pimc-tabla-ref-elemento-relacional elemento-relacional='"Personajes"' valores='personajes' campos-columnas='personajesColumnas'
                    nombres-columnas='personajesNombresColumnas' autocompletar-opciones='autocompletarPersonajesOpciones' reportar-cambio='personajesCambios(valores)'></pimc-tabla-ref-elemento-relacional>
    		</div>
    	</div>
    </uib-tab>

    <!-- EMBARCACIONES -->
    <uib-tab index="3" heading="Embarcaciones">
        <div class="row p-t-2">
            <div class="col-sm-12">
                <pimc-tabla-ref-elemento-relacional elemento-relacional='"Embarcaciones"' valores='embarcaciones' campos-columnas='embarcacionesColumnas'
                    nombres-columnas='embarcacionesNombresColumnas' autocompletar-opciones='autocompletarEmbarcacionesOpciones' reportar-cambio='embarcacionesCambios(valores)'></pimc-tabla-ref-elemento-relacional>
            </div>
        </div>
    </uib-tab>
    
    <!-- LUGARES -->
    <uib-tab index="4" heading="Lugares">
    	<div class="row p-t-2">
    		<div class="col-sm-12">
		      <table id="lugaresTabla">
		        <tr><th>Lugar ID</th><th>Nombre</th><th>Tipo de Lugar</th><th>Categoria</th><th>Cita/Anotación</th></tr>
		        <tr ng-click="abrirLugarSeleccionado($index,'existente')" ng-repeat="lugar in lugares track by $index">
                    <td><button ng-show="borrarLugaresActivado" ng-click='borrarLugarExistente($index);$event.stopPropagation()' class="btn-danger">-</button>{{lugar.lugaresID}}</td>
                    <td>{{lugar.nombre}}</td>
                    <td>{{lugar.tipo}}</td>
                    <td>{{lugar.categoria}}</td>
                    <td>{{lugar.comentario}}</td>
                </tr>
                <tr ng-click="abrirLugarSeleccionado($index,'nuevaRef')" ng-repeat="lugar in lugaresAgregarReferencia track by $index">
                    <td><button ng-click='borrarReferenciaNuevoLugar($index)' class="btn-danger">-</button> (Nueva Ref) {{lugar.lugaresID}}</td>
                    <td>{{lugar.nombre}}</td>
                    <td>{{lugar.tipo}}</td>
                    <td>{{lugar.categoria}}</td>
                    <td>{{lugar.comentario}}</td>
                </tr>
                <tr ng-repeat="lugar in lugaresNuevas track by $index">
                    <td><button ng-click='borrarNuevoLugar($index)' class="btn-danger">-</button> {{"Lugar Nuevo"}}</td>
                    <td>
                        <span editable-text="lugar.nombre" e-typeahead-min-length="3" e-uib-typeahead="lugares.nombre for lugares in autocompletarLugar($viewValue)" e-typeahead-wait-ms="100" e-typeahead-on-select="actualizarLugarNuevaExistente($index,$item)" e-typeahead-no-results="LugarNoResults" e-typeahead-loading="cargandoNombresLugar" onbeforesave="revisarSiLugarExiste($data)">{{lugar.nombre || "nuevo nombre"}}</span>
                        <i ng-show="cargandoNombresLugar" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="LugarNoResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</div></td>
                    <td><span editable-text="lugar.tipo">{{lugar.tipo || "nuevo tipo"}}</span></td>
                    <td><span editable-text="lugar.categoria">{{lugar.categoria || "nueva categoria"}}</span></td>
                    <td><span editable-text="lugar.comentario">{{lugar.comentario || "comentario de referencia"}}</span></td>
               </tr>
		      </table>
      	</div>
      </div>
    </uib-tab>

    <!-- ACTIVIDADES -->
    <uib-tab index="5" heading="Actividades">
    	<div class="row p-t-2">
    		<div class="col-sm-12">
		      <table id="ActividadesTabla">
		        <tr><th>Tipo</th><th>Descripción del proceso</th><th>Personal</th><th>Herramientas</th><th>Materiales</th><th>Cita/Anotación</th></tr>
		        <tr><td>Example</td><td>19</td><td>Esto es un ejemplo</td><td>ASADFA</td><td>ASADFA</td><td>ASADFA</td></tr>
		        <tr><td>Example</td><td>19</td><td>Esto es un ejemplo</td><td>ASADFA</td><td>ASADFA</td><td>ASADFA</td></tr>
		        <tr><td>Example</td><td>19</td><td>Esto es un ejemplo</td><td>ASADFA</td><td>ASADFA</td><td>ASADFA</td></tr>
		      </table>
	      </div>
      </div>
    </uib-tab>

    <!-- FECHAS Y SUCESOS -->
    <uib-tab index="6" heading="Fechas y sucesos">
    	<div class="row p-t-2">
    		<div class="col-sm-12">
		      <table id="fechasSucesosTabla">
		        <tr><th>Fecha</th><th>Lugar</th><th>Descripción del evento</th><th>Categoría</th><th>Cita/Anotación</th></tr>
		        <tr><td>Example</td><td>19</td><td>Esto es un ejemplo</td><td>ASADFA</td><td>ASADFA</td></tr>
		        <tr><td>Example</td><td>19</td><td>Esto es un ejemplo</td><td>ASADFA</td><td>ASADFA</td></tr>
		        <tr><td>Example</td><td>19</td><td>Esto es un ejemplo</td><td>ASADFA</td><td>ASADFA</td></tr>
		      </table>
		    </div>
		  </div>
    </uib-tab>

    <!-- INSTITUCIONES -->
    <uib-tab index="7" heading="Instituciones">
    	<div class="row p-t-2">
    		<div class="col-sm-12">
		      <table id="institucionesTabla">
		        <tr><th>Nombre</th><th>Cita/Anotación</th></tr>
		        <tr><td>Example</td><td>ASADFA</td></tr>
		        <tr><td>Example</td><td>ASADFA</td></tr>
		        <tr><td>Example</td><td>ASADFA</td></tr>
		      </table>
		    </div>
		  </div>
    </uib-tab>
  </uib-tabset>
</section>

<pimc-barra-estado guardar-cambios="guardarCambios()" borrar-cambios="borrarCambios()"></pimc-barra-estado>
