<div class="row p-t-1" ng-if="documentoDatosPrincipalesCtrl.activo">
    <div id="datosPrincipalesDocumento" class="col-sm-12 col-md-8">

      <div class="panel panel-primary m-b-2">

        <header class="panel-heading">
            <h4>Datos generales</h4>
        </header>

        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item pimc-full-width-form">  
                    <span class="label label-primary">Titulo completo</span> <br/>
                    <span editable-text="documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.titulo" 
                          buttons="right" 
                          onbeforesave="documentoDatosPrincipalesCtrl.datoEditado('titulo',$data)" 
                          e-rows="2"
                          class="m-l-1">{{ documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.titulo }}</span>
                </li>
            </ul>
          <ul class="list-group m-b-0 dos-columnas">
            
            <li class="list-group-item">  
                <span class="label label-primary">Fondo documental</span>
                <span editable-text="documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.fondo" 
                            onbeforesave="documentoDatosPrincipalesCtrl.datoEditado('fondo',$data)"  
                            class="m-l-1"> {{ documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.fondo }}</span>
            </li>
            <li class="list-group-item">
                <span class="label label-primary">Institución fondo</span>
                <span editable-text="documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.institucionFondo" 
                            onbeforesave="documentoDatosPrincipalesCtrl.datoEditado('institucion',$data)"  
                            class="m-l-1"> {{ documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.institucionFondo }}</span>
            </li>
            <li class="list-group-item">
                <span class="label label-primary">Sección</span> 
                <span editable-text="documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.seccion" 
                            onbeforesave="documentoDatosPrincipalesCtrl.datoEditado('seccion',$data)"  
                            class="m-l-1"> {{ documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.seccion }}</span>
            </li>
            <li class="list-group-item">
                <span class="label label-primary">Número de referencia</span>
                <span editable-text="documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.numRefDentroFondo" 
                            onbeforesave="documentoDatosPrincipalesCtrl.datoEditado('numReferencia',$data)"  
                            class="m-l-1"> {{documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.numRefDentroFondo}}</span>
            </li>
            
            <li class="list-group-item">
                <span class="label label-primary">Folio inicial</span> 
                <span editable-text="documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.folioInicial" 
                            onbeforesave="documentoDatosPrincipalesCtrl.datoEditado('folioInicial',$data)"  
                            class="m-l-1"> {{ documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.folioInicial }}</span>
            </li>
            <li class="list-group-item">
                <span class="label label-primary">Folio final</span> 
                <span editable-text="documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.folioFinal" 
                            onbeforesave="documentoDatosPrincipalesCtrl.datoEditado('folioFinal',$data)"  
                            class="m-l-1"> {{ documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.folioFinal }}</span>
            </li>
            <li class="list-group-item">
                <span class="label label-primary">Legajo</span> 
                <span editable-text="documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.legajo" 
                            onbeforesave="documentoDatosPrincipalesCtrl.datoEditado('legajo',$data)"  
                            class="m-l-1"> {{ documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.legajo }}</span>
            </li>
            <li class="list-group-item">
                <span class="label label-primary">Numero de orden</span> 
                <span editable-text="documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.numOrden" 
                            onbeforesave="documentoDatosPrincipalesCtrl.datoEditado('numOrden',$data)"  
                            class="m-l-1"> {{ documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.numOrden }}</span>
            </li>
            <li class="list-group-item">
                <span class="label label-primary">Numero de páginas</span> 
                <span editable-text="documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.numPaginas" 
                            onbeforesave="documentoDatosPrincipalesCtrl.datoEditado('numPaginas',$data)"  
                            class="m-l-1"> {{ documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.numPaginas }}</span>
            </li>

          </ul>
        </div>
      </div>

      <div class="panel panel-primary">
          <header class="panel-heading">
            <h4>disponibilidad de consulta</h4>
          </header>
          <div class="panel-body">
            <!-- <p editable-text="documentoDatosPrincipalesCtrl.datosPrincipalesInt.disponibilidad" onbeforesave="documentoDatosPrincipalesCtrl.datoEditado('disponibilidadConsulta',$data)">{{documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.disponibilidad}}</p> -->
            <pimc-files-soporte 
              elemento-relacional="Documentos" 
              elemento-relacional-id='documentosDatosPrincipalesCtrl.datosPrincipalesInt.contenido.documentoID'
            ></pimc-files-soporte>
          </div>
        </div>
    </div>

    <div id="otrosDatosDocumentoColDerecha" class="col-sm-12 col-md-4">

      <div class="panel panel-primary">
        <header class="panel-heading">
          <h4>Palabras Claves</h4>
        </header>
        <div class="panel-body">
                <pimc-listado 
                    nombre="palabrasClaves" 
                    csv-string="documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.palabrasClaves" 
                    reportar-cambio="documentoDatosPrincipalesCtrl.listadoEditado(listado, csvString)">
                </pimc-listado>
        </div>
      </div>

      <div class="panel panel-primary">
          <header class="panel-heading">
            <h4>Rango de fechas</h4>
          </header>
          <div class="panel-body">
              <span class="label label-info">fecha Inicial</span>                         
              <pimc-fecha-con-formato
              fecha = 'documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.fechaInicial'
              formato = 'documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.fechaInicialFormato'
              reportar-cambio="documentoDatosPrincipalesCtrl.fechaEditada(fecha, formato, 'fechaInicial')">
              </pimc-fecha-con-formato><br/>
              <span class="label label-info">fecha Final</span>
              <pimc-fecha-con-formato
              fecha = 'documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.fechaFinal'
              formato = 'documentoDatosPrincipalesCtrl.datosPrincipalesInt.contenido.fechaFinalFormato'
              reportar-cambio="documentoDatosPrincipalesCtrl.fechaEditada(fecha, formato, 'fechaFinal')">
            </pimc-fecha-con-formato>
          </div>
        </div>

      <div class="panel panel-primary">
        <header class="panel-heading">
          <h4>Anotaciones Catalogación</h4>
        </header>
        <div class="panel-body">
        </div>
      </div>
      
      <div class="panel panel-primary">
        <header class="panel-heading">
          <h4>Estado de Conservación</h4>
        </header>
        <div class="panel-body">
        </div>
      </div>
    </div>

  </div><!-- .row -->