<div class="modal-content">
    <div class="modal-header">
        <h1>Agregar documento nuevo</h1>
    </div>
    <div class="modal-body">
        <pimc-documento-datos-principales
            datos-principales = "$ctrl.datosPrincipales"
            activo="true"
            files-lista = "$ctrl.listaFiles"
            reportar-cambio="$ctrl.datosPrincipalesEditados(datosPrincipales, listadoFiles)">

        </pimc-documento-datos-principales>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="$ctrl.limpiar()">Limpiar</button><button class="btn btn-info" ng-click="$ctrl.crearContinuar()">Crear y agregar otro</button><button class="btn btn-primary" ng-click="$ctrl.crearCerrar();">Crear</button>
    </div>
</div>