<div class="row p-t-1" ng-if="docSinopsisComentCtrl.activo">
    <div id="sinopsisComentarios">
        <div class="panel panel-primary">
            <header class="panel-heading">
                <h4 class="m-a-1">Sinopsis general</h4>
            </header>
            <div class="p-a-1">
                <div class="panel panel-default m-b-0 m-t-0">
                    <div class="panel-body">
                        <p class="notaContenido" editable-textarea="docSinopsisComentCtrl.datosPrincipalesInt.contenido.sinopsis" e-rows="2" buttons="right"
                            onaftersave="docSinopsisComentCtrl.datoEditado('sinopsis',$data)">
                            {{docSinopsisComentCtrl.datosPrincipalesInt.contenido.sinopsis || "Click aqui para agregar sinopsis"}}</p>
                    </div>
                </div>
            </div>
            <header class="panel-heading">
                <h4 class="m-a-0">Comentarios</h4>
            </header>
            <pimc-comentarios-anotaciones notas="docSinopsisComentCtrl.notasInt" reportar-cambio="docSinopsisComentCtrl.notificarNotasCambios(notas)">
            </pimc-comentarios-anotaciones>
        </div>
    </div>
</div>