// Mixins
@import 'mixins';

// Estilos de aplicacion
.preloader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: $alabaster;
  img {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -60px;
  }
}

body {
  margin: 80px 0;
}

.dos-columnas {
  column-count: 2;
  column-gap: 1em;
}

.column-span {
  column-span: all;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 0.5em;
  min-height: 1em;
}

th {
  background-color: $primary;
  color: $white;
}

tr {
  border-bottom: 1px solid rgba($celeste, 0.2);
  &:nth-child(even) {
    background-color: $alabaster;
  }
  &:nth-child(odd) {
    background-color: $mercury;
  }
  &:hover {
    background-color: rgba($mariner, 0.1);
  }
}

.notaReferencia {
  font-weight: bold;
}

.status-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  border-top: 1px solid $mercury;
  background-color: lighten($mercury, 5%);
}

#emisorReceptorTabla, #personajesTabla {
  padding: 30px;
}

.panel-heading form, .pimc-full-width-form form{
  width: 100%;
  input[type="text"], textarea {
    width: 100%;
  }
}

.editable-controls.form-group {
  display: flex;
  #sinopsisComentarios &, .notaContenido & {
    display: block;
    .editable-buttons {
      display: block;
      text-align: right;
    }
  }
}

.editable-textarea {
  width: 100%;
}

.editable-controls {
  width: 100%;
  > textarea {
    width: 100%;
  }
}

#sinopsisComentarios .editable-textarea textarea, .notaContenido .editable-textarea textarea  {
  width: 100%;
  margin-bottom: 15px;
}

.fechas-grupo {
  .fechaFinal {
    &:before {
      content: " — ";
    }
  }
}

.datos {
  list-style-type: none;
  padding: 1em 0;
  margin: 0;
  & > li {
    padding: 1em 0;
    border-bottom: 1px solid $shady_lady;
  }
}

.nombre,.t0 {
  font-size: 2em;
  padding-bottom: 0.6em;
  border-bottom: 0.1em solid $shady_lady;
  margin-bottom: 0.6em;
}

.ocupacion,.t1 {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 21px;
}

.tituloDato {
  font-weight: bold;
  margin: 0;
  padding-right: 0.5em;
}

.valorDato {
  padding-right: 0.5em;
}

.navbar-collapse.in {
  //overflow-y: hidden;
}

#datosManuscrito > tr {
  text-align: center;
}

.nocorners {
  border-radius: 0!important;
}

.table-left {
  th,td {
    text-align: left;
  }
}
.table-right {
  th,td {
    text-align: right;
  }
}
.table-center {
  th,td {
    text-align: center;
  }
}

.nav-pills.rounded {
  input[type="text"] {
    margin-left: 0.5em;
    margin-top: 0.3em;
  }
  li {
    margin-bottom: 2px;
  }
  a {
    border-radius: 1.5em;  
  }
}

.inline {
  display: inline-block;
}

.ui-grid-column-menu-button-last-col {
  margin-right: 0;
}

.mensajesPopover {
    color: #395499;
	font-size: 1.3em;
	cursor: pointer;
}

/* temporary workaround for display editable-bstime in bs3 - up/down symbols not shown */
.editable-bstime .editable-input i.icon-chevron-up:before {
  content: '\e113';
}
.editable-bstime .editable-input i.icon-chevron-down:before {
  content: '\e114';
}
.editable-bstime .editable-input i.icon-chevron-up,
.editable-bstime .editable-input i.icon-chevron-down {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;  
}

// header multiline
.ui-grid-header-cell .ui-grid-cell-contents {
  height: 48px;
  font-size: 12px;
  white-space: normal;
  -ms-text-overflow: clip;
  -o-text-overflow: clip;
  text-overflow: clip;
  overflow: visible;
}

.grid {
  height: 70vh;
}

@font-face{
  font-family:'LinotypeZapfino One';
  font-style:normal;
  src:local('LinotypeZapfino One'),local('LTZapfinoOne-Regular'),url(../css/fonts/zapfinoOne.ttf) format('truetype');}

.primeraLetraColor {
  display: inline-block;
  font-size: 5vh;
  margin-top: -10px;
  margin-bottom: -10px;
  font-weight: normal;
  letter-spacing: 4px;
  //font-family: 'LinotypeZapfino One', arial;   
}
//@import url(http://allfont.net/allfont.css?fonts=linotypezapfino-one);
.primeraLetraColor::first-letter {
  font-size: 130%;
  color: #9e4a00;
}

.active {
  font-weight: bolder;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .collapse {
      display: none !important;
  }
}

.tituloDocumento {
  max-height:35px;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: max-height 1s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tituloDocumento:hover {
  white-space: normal;
  overflow: hidden;
  text-overflow: unset;
  max-height:8em;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}