<section>
  <uib-tabset active="active">
    <uib-tab index="0" heading="Datos Principales"> 
        <div id="preloading" class="preloader" ng-show="datosPrincipalesCargando"><img src="images/loader.gif"></div>
        <div class="row p-t-2" ng-show="!datosPrincipalesCargando">
            <div class="col-sm-12">
                <h1 class="t0">
                <span editable-text="datosPrincipales.nombre" 
                            onbeforesave="editarDatoPrincipal('nombre',$data)"> 
                            {{ datosPrincipales.nombre || "Nombre Indeterminado" }}</span>
                </h1>
                <h2 class="t1">Tipo de actividad: 
                <span editable-text="datosPrincipales.tipoActividad" 
                            onbeforesave="editarDatoPrincipal('tipoActividad',$data)"> 
                            {{ datosPrincipales.tipoActividad || "Indeterminada" }}</span>
                </h2>
            </div>
        </div>
        <div class="row">
            
            <div class="col-sm-12 col-md-6">
                <ul class="list-group m-b-0">
                    <li class="list-group-item">
                        <span class="label label-primary">Descripción</span>
                        <span editable-text="datosPrincipales.descripcion" 
                            onbeforesave="editarDatoPrincipal('descripcion',$data)"  
                            class="m-l-1"> {{ datosPrincipales.descripcion || "No definida" }}</span>
                    </li> 
                    <li class="list-group-item">
                        <span class="label label-primary">Personajes involucrados</span>
                        <span editable-text="datosPrincipales.personajesInvolucrados" 
                            onbeforesave="editarDatoPrincipal('personajesInvolucrados',$data)"  
                            class="m-l-1"> {{ datosPrincipales.personajesInvolucrados || "No definida" }}</span>
                    </li> 
                    <li class="list-group-item">
                        <span class="label label-primary">Herramientas</span>
                        <span editable-text="datosPrincipales.herramientas" 
                            onbeforesave="editarDatoPrincipal('herramientas',$data)"  
                            class="m-l-1"> {{ datosPrincipales.herramientas || "No definido" }}</span>
                    </li> 
                    <li class="list-group-item">
                        <span class="label label-primary">Materiales</span>
                        <span editable-text="datosPrincipales.materiales" 
                            onbeforesave="editarDatoPrincipal('materiales',$data)"  
                            class="m-l-1"> {{ datosPrincipales.materiales || "No definido" }}</span>
                    </li> 
                </ul>
            </div>

            <div id="notasAdicionales" class="col-sm-12 col-md-6">
                <div class="panel panel-primary">
                    <header class="panel-heading">
                        <h4 class="m-a-1">Notas</h4>
                    </header>
                    
                    <div class="p-a-1">
        
                        <button class="btn btn-primary" ng-click="agregarNotaVacia()">Agregar Nota</button>
        
                        <div class="panel panel-default m-b-0 m-t-1" ng-repeat="nota in notas track by $index">
                            <div class="panel-body">
                                <button type="button" 
                                            class="close" 
                                            aria-label="Cerrar" 
                                            ng-click="eliminarNota($index)">
                                            <span aria-hidden="true">&times;</span></button>
                                <p class="notaContenido" 
                                        editable-textarea="nota.nota" 
                                        e-rows="2" 
                                        buttons="right" 
                                        onaftersave="modificarNota($index,nota.nota)">{{nota.nota || "Click para editar"}}</p>
                            <div class="clearfix m-t-1">
                                <div class="notaReferencia pull-left">Fecha Historica: <span editable-text="nota.fechaHistorica" 
                                        onaftersave="modificarFechaHistorica($index,fechaHistorica)">{{nota.fechaHistorica || "ND"}}</span></div>
                            </div>
                            <div class="clearfix m-t-1">
                                <div class="notaReferencia pull-left">Referencia: <span editable-text="nota.referencia" 
                                        onaftersave="modificarReferencia($index,nota.referencia)">{{nota.referencia || "ND"}}</span></div>
                                <div class="notaFecha pull-right">{{nota.fechaCreacion || "Nota Nueva"}}</div>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
      
        <div class="bottom"></div>

    </uib-tab>

</section>

<footer class="status-bar">
  <div class="text-right">
    <strong>Ultima Accion: </strong><span class="status-message p-r-1" ng-bind-html="ultimaAccion">{{ultimaAccion}}</span>
    <button ng-click='borrarCambios()' class="btn btn-danger m-r-1" ng-disabled="guardarDatos">Borrar cambios</button>
    <button ng-click='guardarCambios()' class="btn btn-success">Guardar</button>
  </div>
</footer>
