<section class="row p-t-1">

  <div class="col-sm-12 p-b-1">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="valorBusqueda" ng-keydown="$event.keyCode === 13 && realizarBusqueda()">
      </div>
      <button ng-click='realizarBusqueda()' class="btn btn-primary">buscar...</button>
    </form>
  </div>

  <div class="col-sm-12">
    <div ui-grid="tablaResultados"ui-grid-selection ui-grid-auto-resize ui-grid-edit ui-grid-cellnav class="grid"></div>
  </div>
  
  <div class="col-sm-12 text-right p-t-1">
    <button ng-click='abrirArchivosSeleccionados()' class="btn btn-success">Abrir Seleccionados</button>
	</div>
</section>
