<section>
  <div id="preloading" class="preloader" ng-show="datosPrincipalesCargando"><img src="images/loader.gif"></div>
  <div class="row" ng-show="!datosPrincipalesCargando">
    <div class="titulo col-sm-12">
      <h1 class="nombre">
          <span editable-text="datosPrincipales.nombres[0]" 
              onbeforesave="listados.modificarBorrar('Nombres',datosPrincipales.nombres,0,datosPrincipales.nombres[0])"  
              class="m-l-1"> {{ datosPrincipales.nombres[0] || "Agregar un nombre" }}</span>
                 <ul class="nav nav-pills rounded">
                      <li role="presentation" class="active" 
                          onaftersave="listados.modificarBorrar('Nombres',datosPrincipales.nombres,$index,nombre)" 
                          editable-text="nombre" 
                          ng-repeat="nombre in datosPrincipales.nombres track by $index" ng-if="$index > 0">
                          <a href="#" class="bg-mountain_meadow">{{nombre}}</a>
                      </li>
                      <li role="presentation" 
                          editable-text="listados.mensaje" 
                          onshow="listados.borrarOnShow()"
                          onbeforesave="listados.agregarALista('Nombres', datosPrincipales.nombres, $data)" 
                          onaftersave="listados.mensaje='+ Agregar';return"
                          oncancel="listados.mensaje='+ Agregar'">
                          <a href="#">{{listados.mensaje || '+ Agregar'}}</a>
                      </li>
                </ul>
          
              <span class="m-l-1 text-shady_lady">|</span><small class="m-l-1 text-shady_lady">Alias: </small>
              <small editable-text="datosPrincipales.alias" 
              onbeforesave="editarDatoPrincipal('alias',$data)"  
              class="m-l-1"> {{ datosPrincipales.alias || "Alias" }}</small>
      </h1>
    </div>
    <div class="col-sm-12 clearfix">
        <div class="m-r-1 inline"><h5 class="tituloDato">Banderas:</h5></div>
        <div class="m-r-1 inline"><span class="valorDato"><span class="flag flag-co m-r-1" alt="Colombia"></span>Colombia</span><span id="naceMuere">(1900 - 1987)</span></div>
        <div class="m-r-1 inline"><span class="valorDato"><span class="flag flag-es m-r-1" alt="Colombia"></span>España</span><span id="naceMuere">(1900 - 1987)</span></div>
        <div class="m-r-1 inline"><span class="valorDato"><span class="flag flag-de m-r-1" alt="Colombia"></span>Alemania</span><span id="naceMuere">(1900 - 1987)</span></div>
        <div class="pull-right"><a href="" class="btn btn-xs btn-primary">Añadir bandera</a></div>
        <hr>
      </div>
  </div>

  <uib-tabset active="active">
    <uib-tab index="0" heading="Datos Principales">
      <div id="datosPrincipalesEmbarcacion" class="row p-t-2">
        <div class="col-sm-6">
          <ul class="datos">
            <li>
              <span class="tituloDato">Tipo de Buque:</span>
              <span class="valorDato">Canoa</span>
            </li>
            <li>
              <span class="tituloDato">Usos:</span>
              <ol class="breadcrumb inline m-b-0">
                <li>Correo</li>
                <li>Guardacostas</li>
              </ol>
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="datos">
            <li><span class="tituloDato">Lugar de construcción:</span><span class="valorDato">Colombia</span>
            </li>
            <li><span class="tituloDato">Fecha de construcción:</span><span class="valorDato">12 octubre 1900</span>
            </li>
            <li><span class="tituloDato">Lugar de deserción:</span><span class="valorDato">Perú</span>
            </li>
            <li><span class="tituloDato">Razón de deserción:</span><span class="valorDato">Ataque pirata</span>
            </li>
          </ul>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="Especificaciones Técnicas">
      <div id="datosTecnicosEmbarcacion" class="row p-t-2">
        <div class="col-sm-12 col-md-3">
          <ul class="datos">
            <li><span class="tituloDato">Manga:</span><span class="valorDato">10 metros</span>
            </li>
            <li><span class="tituloDato">Eslora:</span><span class="valorDato">20 metros</span>
            </li>
            <li><span class="tituloDato">Puntal:</span><span class="valorDato">40 metros</span>
            </li>
            <li><span class="tituloDato">Calado:</span><span class="valorDato">30 metros</span>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-9">
          <ul class="datos">
            <li><span class="tituloDato">Capacidad de Carga:</span><span class="valorDato">400 Kg</span>
            </li>
            <li><span class="tituloDato">Otras caracteristicas:</span>
              <ol class="breadcrumb inline m-b-0">
                <li class="valorDato">Color</li>
                <li class="valorDato">Cabinas</li>
                <li class="valorDato">Algo especial</li>
              </ol>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div id="reparacionesTabla">
        <h2>Reparaciones</h2>
        <div ui-grid="tablaReparaciones" ui-grid-auto-resize ui-grid-edit ui-grid-cellnav class="grid" ng-style="{height: (tablaReparaciones.data.length*31)+30+'px'}"></div>
      </div>
    </uib-tab>
    <uib-tab index="2" heading="Datos Secundarios">
      <div class="row p-t-2">
        <div class="col-sm-12">
          <div id="datosSecundariosEmbarcacion">
            <div class="btn-group m-b-1" uib-dropdown keyboard-nav>
              <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
                Filtrar por categoría<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                <li ng-repeat="categoria in filtroDropdownContenido" ng-click="filtrar(categoria)"><a href="">{{categoria}}</a>
                </li>
              </ul>
            </div>
            <div ui-grid="tablaDatosSecundarios" ui-grid-auto-resize ui-grid-edit ui-grid-cellnav class="grid" ng-style="{height: (tablaDatosSecundarios.data.length*31)+30+'px'}"></div>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="3" heading="Hoja de Servicio y Personal">
      <div id="hojaServicioTabs" class="row p-t-1">
        <div class="col-sm-12">
          <uib-tabset active="0">
            <uib-tab index="0" heading="Listado">
              <div id="HojaServiciosDiv">
                <div ui-grid="tablaHojaServicioPersonal" ui-grid-auto-resize ui-grid-edit ui-grid-selection class="grid" ng-style="{height: (tablaHojaServicioPersonal.data.length*31)+30+'px'}"></div>
              </div>
            </uib-tab>
            <uib-tab index="$index + 1" ng-repeat="tab in tabsArray" heading="{{tab[1].title}}">
              <div class="perfilRuta">
                <div class="tituloRuta">
                  <h2> Ruta Cartagena - España </h2>
                  <h4> 10 Abril 1900 al 20 Marzo 1990 </h4>
                  <hr>
                </div>

                <uib-tabset active="0">
                  <uib-tab index="0" heading="Personal">
                    <div class="perfilRutaTabContent">
                      <table class="rutaPersonas">
                        <tr>
                          <th colspan="5">Personal Identificado</th>
                        </tr>
                        <tr>
                          <th>Nombre</th>
                          <th>Cargo</th>
                          <th>Categoria</th>
                          <th>Fecha Inicial</th>
                          <th>Fecha Final</th>
                        </tr>
                        <tr>
                          <td>Felipe Perez</td>
                          <td>General</td>
                          <td>Oficiales</td>
                          <td>Abril 1880</td>
                          <td>Mayo 1980</td>
                        </tr>
                        <tr>
                          <td>Jose</td>
                          <td>Marinero</td>
                          <td>Tripulacion</td>
                          <td>Abril 1880</td>
                          <td>Mayo 1980</td>
                        </tr>
                        <tr>
                          <td>David Perez</td>
                          <td>Marinero</td>
                          <td>Guarnicion</td>
                          <td>Abril 1880</td>
                          <td>Mayo 1980</td>
                        </tr>
                      </table>
                      <table class="rutaPersonasAnonimas m-t-1 m-b-1">
                        <tr>
                          <th colspan="5">Otro personal</th>
                        </tr>
                        <tr>
                          <th>Tipo de personal</th>
                          <th>Cantidad</th>
                          <th>Anotaciones</th>
                        </tr>
                        <tr>
                          <td>Tropa</td>
                          <td>20</td>
                          <td>No identificados</td>
                        </tr>
                        <tr>
                          <td>Cocineros</td>
                          <td>10</td>
                          <td>No identificados</td>
                        </tr>
                        <tr>
                          <td>Aseo</td>
                          <td>30</td>
                          <td>No identificados</td>
                        </tr>
                      </table>
                    </div>
                  </uib-tab>
                  <uib-tab index="1" heading="Escalas">
                    <div class="perfilRutaTabContent">
                      <table class="escalasTabla">
                        <tr>
                          <th>Territorio</th>
                          <th>Lugar</th>
                          <th>Fecha llegada</th>
                          <th>Fecha Salida</th>
                          <th>Descripción</th>
                        </tr>
                        <tr>
                          <td>Colombia</td>
                          <td>Puerto en Cartagena</td>
                          <td>Abril 1880</td>
                          <td>Mayo 1980</td>
                          <td>Escala para entrega de carga</td>
                        </tr>
                        <tr>
                          <td>Colombia</td>
                          <td>Puerto en Cartagena</td>
                          <td>Abril 1880</td>
                          <td>Mayo 1980</td>
                          <td>Escala para entrega de carga</td>
                        </tr>
                        <tr>
                          <td>Colombia</td>
                          <td>Puerto en Cartagena</td>
                          <td>Abril 1880</td>
                          <td>Mayo 1980</td>
                          <td>Escala para entrega de carga</td>
                        </tr>
                      </table>
                    </div>
                  </uib-tab>
                  <uib-tab index="2" heading="Bitácora">
                    <div class="perfilRutaTabContent">
                      <table class="bitacoraTabla">
                        <tr>
                          <th>Fecha</th>
                          <th>Anotación</th>
                        </tr>
                        <tr>
                          <td>Abril 2015</td>
                          <td>Alguien murio</td>
                        </tr>
                        <tr>
                          <td>Marzo 3 1900</td>
                          <td>Ataque pirata</td>
                        </tr>
                        <tr>
                          <td>Dia 5 de viaje</td>
                          <td>Perdida de carga</td>
                        </tr>
                      </table>
                    </div>
                  </uib-tab>
                  <uib-tab index="3" heading="Carga">
                    <div class="perfilRutaTabContent">
                      <table class="cargaTabla">
                        <tr>
                          <th>Elemento</th>
                          <th>Cantidad</th>
                          <th>Descripción</th>
                        </tr>
                        <tr>
                          <td>Cañones</td>
                          <td>20</td>
                          <td>Para entrega en armada</td>
                        </tr>
                        <tr>
                          <td>Sables</td>
                          <td>10</td>
                          <td>Para Realeza</td>
                        </tr>
                        <tr>
                          <td>Piezas de oro</td>
                          <td>30 Kg</td>
                          <td>Robados</td>
                        </tr>
                      </table>
                    </div>
                  </uib-tab>
                  <uib-tab index="4" heading="Anotaciones">
                    <div class="perfilRutaTabContent row">
                      <div class="notasAdicionalesRuta col-sm-12">
                        <h3>Comentarios</h3>
                        <p>Aca ira eventualmente una lista de comentarios de dicho personaje.</p>
                        <ul> 
                          <li>comentario 1</li> 
                          <li>comentario 2</li> 
                          <li>comentario 3</li> 
                          <li>comentario 4</li> 
                        </ul>
                      </div>
                    </div>
                  </uib-tab>
                </uib-tabset>
              </div>
              
              <hr>
              
              <div class="m-t-1 m-b-1 text-right">
                <button class="btn btn-danger" ng-click="cerrarElemento(tab[0])">Cerrar Elemento</button>
              </div>

            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </uib-tab>

    <uib-tab index="4" heading="Datos según documentación">
        <div class="row p-t-2">
          <div class="col-sm-12 col-md-4">
            <div class="fotoPerfil">
              <img class="img-responsive img-thumbnail p-a-2" src="images/ninnaPerfil.jpg" />
            </div>
          </div>
          <div id="notasAdicionales" class="col-sm-12 col-md-8">
            <div class="panel panel-primary">
                <header class="panel-heading">
                  <h4 class="m-a-1">Comentarios</h4>
                </header>
              
                <div class="p-a-1">
  
                  <button class="btn btn-primary" ng-click="agregarNotaVacia()">Agregar Comentario</button>
  
                  <div class="panel panel-default m-b-0 m-t-1" ng-repeat="nota in notas track by $index">
                    <div class="panel-body">
                      <button type="button" 
                              class="close" 
                              aria-label="Cerrar" 
                              ng-click="eliminarNota($index)">
                              <span aria-hidden="true">&times;</span></button>
                      <p class="notaContenido" 
                          editable-textarea="nota.nota" 
                          e-rows="2" 
                          buttons="right" 
                          onaftersave="modificarNota($index,nota.nota)">{{nota.nota || "Click para editar"}}</p>
                      <div class="clearfix m-t-1">
                          <div class="notaReferencia pull-left">Fecha Historica: <span editable-text="nota.fechaHistorica" 
                                   onaftersave="modificarFechaHistorica($index,fechaHistorica)">{{nota.fechaHistorica || "ND"}}</span></div>
                      </div>
                      <div class="clearfix m-t-1">
                        <div class="notaReferencia pull-left">Referencia: <span editable-text="nota.referencia" 
                             onaftersave="modificarReferencia($index,nota.referencia)">{{nota.referencia || "ND"}}</span></div>
                        <div class="notaFecha pull-right">{{nota.fechaCreacion || "Nota Nueva"}}</div>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
          </div>
        </div>
      </uib-tab>

  </uib-tabset>

</section>