<section>
  <div class="p-b-1 p-t-1 jumbotron">
    <h1 class="text-center"><span class="primeraLetraColor">PATRIMONIO</span> <span class="primeraLetraColor">INMATERIAL</span> <span class="primeraLetraColor">MARÍTIMO</span> <span class="primeraLetraColor">DOCUMENTAL </span> <span class="primeraLetraColor">COLOMBIANO</span></h1>
  </div>
  <div class="dos-columnas text-justify">
      <p>El Patrimonio Marítimo de una nación comprende la totalidad de las manifestaciones materiales e inmateriales de los pueblos y sociedades costeras, y sus áreas de influencia, relacionadas con la actividad marítima a lo largo del tiempo. Dichas manifestaciones están inscritas en el propio medio marino, el paisaje litoral, la cultura material y las creaciones inmateriales.</p>
      
       <p>Así, el Patrimonio Inmaterial Marítimo de un territorio implica todas las relaciones que se han tejido, a lo largo de la historia, entre el mar y las comunidades que vivieron y viven de él; por lo que hace alusión al conjunto de saberes y conocimientos tradicionales relacionados con el entorno marítimo. Entre estas tradiciones se encuentran las técnicas de navegación y de trabajo, la construcción naval, las artes de pesca, la imaginería marinera, las canciones, el habla y tradición oral marinera, la hidrotoponimia y la información específica que, sobre estas temáticas, pueda estar contenida en documentación escrita y gráfica.</p>
      
       <p>En cuanto al Patrimonio Documental de la humanidad, este se encuentra conformado por los manuscritos, planos, mapas, textos mecanografiados, libros impresos y documentos en los que la información se transmite por escrito y que sobreviven al paso del tiempo. Tales fuentes documentales se encuentran salvaguardadas en archivos históricos y personales, bibliotecas o hemerotecas. Dentro del conjunto documental salvaguardado, en archivos históricos, existen muchas fuentes relacionadas con lo marítimo y la náutica, siendo de los más importantes recursos investigativos para aquellos interesados en conocer y estudiar las  sociedades marítimas.</p>
      
       <p>De este modo, a la hora de emprender una revisión de tales documentos históricos para estudiar la náutica, se pueda llegar a reconocer tanto la información institucionalizada como los relatos vivenciales, llegando a discernir entre lo que puede ser catalogado como un conocimiento o un saber de la actividad de la navegación.</p>
      
       <p>Este proyecto pone en valor documentación histórica, a través de una herramienta de investigación que recupera datos que permitan entender las relaciones de identidad con el mar, y con nuestra historia marítima y náutica, consolidando el Patrimonio Cultural Marítimo Colombiano, en sus manifestaciones tanto materiales como inmateriales.</p>
      
       <p>Este trabajo ha sido posible gracias al apoyo económico de Iberarchivos Programa ADAI – Cooperación Iberoamericana, el respaldo institucional del Archivo General de la Nación (AGN) colombiano y los intereses investigativos de la Fundación Proyecto Navío. </p>
       <p class="text-right"><a href="#!/inicio" class="btn btn-success">Conozca Más...</a></p>
       
  </div>
  <div class="row text-right m-t-2 text-center">
          <p style="font-size:1.5em; font-weight: bold">Iniciativa avalada por:</p>
          <img class="m-l-2 m-r-2" alt="Fundacion proyecto navio" src="images/fundpronav-logos.png" />
          <img class="m-l-2 m-r-2" alt="Fundacion proyecto navio" src="images/cooperacionIberoamericana-logos.png" />
          <img class="m-l-2 m-r-2" alt="Fundacion proyecto navio" src="images/ArchivoGeneralNacion-logos.png" />
  </div>
</section>