<section>
  <div class="jumbotron">
    <h1>PATRIMONIO INMATERIAL MARÍTIMO COLOMBIANO</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam maximus leo id consectetur convallis. Sed enim sapien, porttitor sit amet lobortis in, blandit a lacus. Vivamus efficitur metus a iaculis finibus. Etiam nunc massa, varius et arcu sed, rhoncus condimentum leo. Praesent vehicula consectetur urna, in malesuada risus ullamcorper sit amet. Praesent est risus, finibus ac tellus vitae, condimentum lacinia odio. Praesent commodo vestibulum pharetra.</p>

    <p><a href="#" class="btn btn-success">Ver más</a></p>
  </div>
  <div class="dos-columnas">
    <p>Nunc at mauris in velit interdum interdum sit amet vel elit. Duis semper quam rhoncus dignissim venenatis. Fusce eleifend tincidunt lectus, a varius urna tristique et. Maecenas blandit nec sapien non tempor. Aliquam erat volutpat. Vestibulum ullamcorper maximus urna a cursus. Ut feugiat tincidunt risus nec tristique. Proin rutrum elementum diam at dictum. Maecenas quam justo, rutrum at condimentum vel, imperdiet at arcu. Pellentesque nec dictum lectus. Vestibulum ut lobortis augue, id aliquam sapien. Sed vulputate mi ac arcu viverra, a ultricies velit tincidunt. Maecenas placerat nec turpis vitae egestas. Vivamus consequat venenatis ex at fermentum. Etiam non sem mi. Nulla consequat dignissim dapibus.</p>

    <p>Fusce suscipit sollicitudin turpis, sit amet vulputate leo sodales volutpat. Suspendisse et erat sit amet mi fermentum venenatis. Nunc pulvinar neque id dolor mattis, ac placerat est elementum. Aliquam hendrerit varius dignissim. Maecenas et feugiat erat, suscipit pharetra mauris. Sed viverra ac odio in fermentum. Nam lorem eros, auctor eget massa nec, bibendum tempus dolor. Etiam eu risus feugiat, elementum lectus vel, iaculis ligula. Ut ac quam tincidunt, efficitur libero ut, porttitor quam. Nam faucibus metus quam, id dignissim enim mollis at. Nunc odio odio, sollicitudin nec sollicitudin non, porta et nulla.</p>
  </div>
</section>