<section>
  <div class="jumbotron">
    <h1 class="text-center">PATRIMONIO INMATERIAL MARÍTIMO COLOMBIANO</h1>

    <div class="row p-a-2 text-center">
      <p>Este es un proyecto es realizado por</p>
      <img class="m-l-2 m-r-2" alt="Fundacion proyecto navio" src="images/fundpronav-logos.png" />
      <img class="m-l-2 m-r-2" alt="Fundacion proyecto navio" src="images/cooperacionIberoamericana-logos.png" />
      <img class="m-l-2 m-r-2" alt="Fundacion proyecto navio" src="images/ArchivoGeneralNacion-logos.png" />
    </div>
    <div class="row text-right">
        <p><a href="#" class="btn btn-success tex">Ver más</a></p>
    </div>
  </div>
  <div class="dos-columnas text-justify">
    <p>El Patrimonio Marítimo de una nación, es la totalidad de las manifestaciones materiales e inmateriales de los pueblos y sociedades costeras y sus áreas de influencia relacionadas con la actividad marítima a lo largo del tiempo. Dichas manifestaciones están inscritas tanto en el propio medio marino, el paisaje litoral, la cultura material y las creaciones inmateriales. </p>
      
    <p>El Patrimonio Inmaterial Marítimo de un territorio hace alusión al conjunto de saberes y conocimientos tradicionales relacionados con el entorno marítimo. Entre estas tradiciones se encuentran las técnicas de navegación y de trabajo, la construcción naval, las artes de pesca, la imaginería marinera, las canciones, habla y tradición oral marinera y la hidrotoponimia.</p>
    
    <p>En este espacio web se ha construido un aplicativo que permite sistematizar, rastrear, y efectuar consultas especializadas de documentación histórica vinculada a temas náuticos y marítimos del territorio del Nuevo Reino de Granada (actual República de Colombia). </p>
    
    <p>Es un sitio de libre acceso, diseñado como una herramienta de consulta temática que ha sido estructurado sobre una base de datos correlacional, que facilita el acceso y divulgación de algunos de los contenidos e información del patrimonio documental de la humanidad - salvaguardado en bibliotecas, fondos documentales y archivos históricos de América y Europa.</p>
    
    <p>Hemos localizado y sistematizado abundante información de fuentes escritas, que dan cuenta saberes y conocimientos náuticos, embarcaciones, instituciones, personajes, lugares y fechas con el ánimo de construir nuevas relaciones de identidad con el mar, nuestra historia marítima y náutica y así consolidar el campo del Patrimonio Marítimo Colombiano en sus manifestaciones tanto materiales como inmateriales. </p>

    <p>Este trabajo ha sido posible gracias al apoyo económico de Iberarchivos Programa ADAI – Cooperación Iberoamericana, el respaldo institucional del Archivo General de la Nación (AGN) colombiano y la Fundación Proyecto Navío. </p>
  </div>
</section>