<section>
    <div class="p-b-2 p-t-1 jumbotron">
        <h2 class="text-center" style="font-size:3em">Información general de uso</h1>
      </div>
  <div class="dos-columnas text-justify" style="font-size:1.3em">
            
      <p>Usted se encuentra en un sitio de libre acceso, que consiste en una base de datos correlacional que permite sistematizar, rastrear y efectuar consultas especializadas de documentación histórica, salvaguardada en archivos históricos institucionales de Colombia y España. </p>
      
      <p>A partir de una revisión de los fondos documentales y secciones de las instituciones archivísticas, por medio de sus catálogos se ha seleccionado un conjunto de Títulos, que en su descripción contienen palabras relacionadas con la náutica y el mundo marítimo de los territorios costeros y marítimos del Nuevo Reino de Granada (actual Colombia). Para facilitar la ubicación, la búsqueda y selección de los documentos históricos se ha conservado la catalogación original de los archivos, según la institución donde reposan. </p>
      
      <p>Dependiendo de la forma como acceda a la base de datos, se podrá seleccionar documentos para ingresar, vincular y conocer las variables de investigación definidas en el proyecto. También se ha posibilitado para cada documento el ingreso de datos para relacionarlo con un tema o evento de corte histórico y generar una sinopsis y comentarios sobre cada uno. </p>
      
      <p>Al realizar la sistematización de datos en los documento históricos incluidos en la base de datos, se tendrá la posibilidad de crear perfiles dentro de cada una de las variables establecidas: Embarcaciones, Personajes, Instituciones, Actividades, Eventos, Lugares, Fechas, Citas textuales, y Glosas. Cada perfil, además, tendrá una identificación única dentro de esta base de datos, que podrá relacionarse con varios documentos y contará con sub-campos de información previamente establecidos, a manera de formularios, que se completarán a medida que aparezca información en la documentación histórica. </p>
      
      <p>Esta herramienta de investigación permite no solo tener un listado de documentos, según su procedencia institucional, sino una información detallada de cada documento revisado que, al final, permite obtener bases de datos específicas, en función de las variables establecidas, que facilitan las consultas relacionales en diferentes niveles de análisis. </p>
  </div>
</section>