<section>
  <uib-tabset active="active">
    <uib-tab index="0" heading="Datos Principales"> 
      <div id="preloading" class="preloader" ng-show="datosPrincipalesCargando"><img src="images/loader.gif"></div>
        <div class="row p-t-2" ng-show="!datosPrincipalesCargando">
            <div class="col-sm-12">
                <h1 class="t0">
                <span editable-text="datosPrincipales.nombre" 
                            onbeforesave="editarDatoPrincipal('nombre',$data)"> 
                            {{ datosPrincipales.nombre || "Nombre Indeterminado" }}</span>
                </h1>
                <h2 class="t1">Tipo de institución: 
                <span editable-text="datosPrincipales.tipoInstitucion" 
                            onbeforesave="editarDatoPrincipal('tipoInstitucion',$data)"> 
                            {{ datosPrincipales.tipoInstitucion || "Indeterminado" }}</span>
                </h2>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <ul class="list-group m-b-0">
                <li class="list-group-item">
                    <span class="label label-primary">Fecha de creación</span>
                    <span editable-text="datosPrincipales.fechaCreacion" 
                          onbeforesave="editarDatoPrincipal('fechaCreacion',$data)"  
                          class="m-l-1"> {{ datosPrincipales.fechaCreacion || "No definida" }}</span>
                </li> 
                <li class="list-group-item">
                    <span class="label label-primary">Fecha de terminación</span>
                    <span editable-text="datosPrincipales.fechaTerminacion" 
                          onbeforesave="editarDatoPrincipal('fechaTerminacion',$data)"  
                          class="m-l-1"> {{ datosPrincipales.fechaTerminacion || "No definida" }}</span>
                </li> 
                <li class="list-group-item">
                    <span class="label label-primary">Categoría</span>
                    <span editable-text="datosPrincipales.categoria" 
                          onbeforesave="editarDatoPrincipal('categoria',$data)"  
                          class="m-l-1"> {{ datosPrincipales.categoria || "No definido" }}</span>
                </li> 
                <li class="list-group-item">
                  <span class="label label-primary">Funciones</span>
                  <ul class="nav nav-pills rounded m-t-1">
                    <li role="presentation" class="active" 
                        onaftersave="listaFunciones.modificarBorrarFuncion($index,funcion)" 
                        editable-text="funcion" 
                        ng-repeat="funcion in datosPrincipales.funcion track by $index">
                        <a href="#" class="bg-mountain_meadow">{{funcion}}</a>
                    </li>
                    <li role="presentation" 
                        editable-text="listaFunciones.funcionNueva.mensaje" 
                        onaftersave="listaFunciones.agregarFuncionNueva(listaFunciones.funcionNueva.mensaje)" 
                        e-ng-focus="listaFunciones.borrarCampo()" 
                        oncancel="listaFunciones.mostrarCampo()">
                        <a href="#">{{listaFunciones.funcionNueva.mensaje}}</a>
                    </li>
                  </ul>
                </li> 
            </ul>
          </div>

          <div id="parentescos" class="col-sm-12 col-md-6">
            <table>
                <tr><th class="text-center" colspan="4">Parentescos</th></tr>
                <tr><th>ID</th><th>Personaje</th><th>Relacion</th><th>Abrir personaje</th></tr>
                <tr ng-repeat="parentesco in parentescos track by $index">
                    <td><button ng-show="borrarParentescoActivado" ng-click='borrarParentescoExistente($index);$event.stopPropagation()' class="btn-danger">-</button>{{parentesco.parentescoID}}</td>
                    <td>{{parentesco.nombrePersonaje}}</td>
                    <td>{{parentesco.relacionDirecta}}</td>
                    <td ng-click="abrirPersonajeSeleccionado($index,'existente')"> Abrir </td>
                </tr>
                <tr ng-repeat="parentesco in parentescosAgregarReferencia track by $index">
                    <td><button ng-click='borrarReferenciaNuevoParentesco($index)' class="btn-danger">-</button> (Nueva Ref) {{parentesco.parentescoID}}</td>
                    <td>{{parentesco.nombrePersonaje}}</td>
                    <td><span editable-text="parentesco.relacionDirecta" ng-click="$event.stopPropagation()">{{parentesco.relacionDirecta || "Relacion directa"}}</span> - <span editable-text="parentesco.relacionInversa" ng-click="$event.stopPropagation()">{{parentesco.relacionInversa || "Relacion Inversa"}}</span></td>
                    <td ng-click="abrirPersonajeSeleccionado($index,'nuevaRef')"> Abrir </td>
                </tr>
                <tr ng-repeat="parentesco in parentescosNuevos track by $index">
                    <td><button ng-click='borrarParentescoNuevo($index)' class="btn-danger">-</button> {{"Parentesco Nuevo"}}</td>
                    <td>
                        <span editable-text="parentesco.nombrePersonaje" e-typeahead-min-length="3" e-uib-typeahead="personajes.nombre for personajes in autocompletarPersonaje($viewValue)" e-typeahead-wait-ms="100" e-typeahead-on-select="actualizarParentescoNuevoExistente($index,$item)" e-typeahead-no-results="parentescosNoResults" e-typeahead-loading="cargandoNombres" onbeforesave="revisarSiParentescoExiste($data)">{{parentesco.nombrePersonaje || "nuevo parentesco"}}</span>
                        <i ng-show="cargandoNombres" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="parentescosNoResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</div></td>
                    <td><span editable-text="parentesco.relacionDirecta">{{parentesco.relacionDirecta || "Relacion directa"}}</span> - <span editable-text="parentesco.relacionInversa">{{parentesco.relacionInversa || "Relacion Inversa"}}</span></td>
                </tr>
            </table>
            
            <div class="row">
                <button ng-click='agregarParentesco()' class="btn btn-success m-t-2 m-l-1">Agregar Parentesco</button>
                <button ng-click='borrarParentescoActivado = !borrarParentescoActivado' class="btn m-t-2">{{borrarParentescoActivado? "Desabilitar" : "Habilitar"}} borrar parentesco existente</button>
            </div>
              
          </div>

        </div>
      
      <div class="bottom"></div>

    </uib-tab>

    <uib-tab index="1" heading="Funcionarios">
        <div id="hojaServicioTabs" class="p-t-3">
            <table class="table-left">
                <tr ng-click="abrirElemento(0)"><th>Nombre funcionario</th><th>Dependencia</th><th>Cantidad de funcionarios</th><th>Funciones</th></tr>
                <tr ng-click="abrirElemento(1)"><td>Pepito de los Palotes</td><td>Dirección de cosas</td><td>3</td><td>Vagancia</td></tr>
                <tr ng-click="abrirElemento(2)"><td>Pepito de los Palotes</td><td>Dirección de cosas</td><td>3</td><td>Vagancia</td></tr>
                <tr ng-click="abrirElemento(3)"><td>Pepito de los Palotes</td><td>Dirección de cosas</td><td>3</td><td>Vagancia</td></tr>
                <tr ng-click="abrirElemento(4)"><td>Pepito de los Palotes</td><td>Dirección de cosas</td><td>3</td><td>Vagancia</td></tr>
            </table>
        </div>
    </uib-tab>
    <!-- LA IDEA ES QUE ESTAS PESTAÑAS CARGUEN LOS PERSONAJES Y LAS NOTAS, DE MANERA SIMILAR A LAS COMISIONES EN PERFIL DE PERSONA, ME IMAGINO -->
    <uib-tab index="2" heading="Personajes">
        <div id="hojaServicioTabs" class="p-t-1">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Listado">
                    <div class="p-t-1"> 
                        <table class="table-left">
                            <tr ng-click="abrirElemento(0)"><th>Carrera</th><th>Clase</th><th>Institución</th><th>Al mando de</th><th>Lugar</th><th>Fecha</th></tr>
                            <tr ng-click="abrirElemento(1)"><td>Carrera de armas</td><td>Una clase</td><td>Comando General</td><td>alguien</td><td>Puerto B</td><td>Enero 2016</td></tr>
                            <tr ng-click="abrirElemento(2)"><td>Carrera de armas</td><td>Una clase</td><td>Comando General</td><td>alguien</td><td>Puerto B</td><td>Enero 2016</td></tr>
                            <tr ng-click="abrirElemento(3)"><td>Carrera de armas</td><td>Una clase</td><td>Comando General</td><td>alguien</td><td>Puerto B</td><td>Enero 2016</td></tr>
                            <tr ng-click="abrirElemento(4)"><td>Carrera de armas</td><td>Una clase</td><td>Comando General</td><td>alguien</td><td>Puerto B</td><td>Enero 2016</td></tr>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="$index + 1" ng-repeat="tab in tabsArray" heading="{{tab[1].title}}">
                    <div class="row p-t-2">
                        <div class="col-sm-12">
                            <p>{{tab[1].content}}</p>
                            <hr>
                            <p class="text-right"><button class="btn btn-danger" ng-click="cerrarElemento(tab[0])">Cerrar Elemento</button></p>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </uib-tab>
          
</section>

<footer class="status-bar">
  <div class="text-right">
    <strong>Ultima Accion: </strong><span class="status-message p-r-1" ng-bind-html="ultimaAccion">{{ultimaAccion}}</span>
    <button ng-click='borrarCambios()' class="btn btn-danger m-r-1" ng-disabled="guardarDatos">Borrar cambios</button>
    <button ng-click='guardarCambios()' class="btn btn-success">Guardar</button>
  </div>
</footer>
