<nav class="navbar navbar-default" role="navigation">
		<div class="collapse navbar-collapse" uid-collapse="isNavCollapsed">
				<ul class="nav navbar-nav">
						<li><a href="/PIMC">Principal</a></li>
						<li><a href="/PIMC/views/personajePerfil.html">Personaje Perfil</a></li>
						<li><a href="/PIMC/views/archivoPerfil.html">Archivo Perfil</a></li>
						<li><a href="/PIMC/views/embarcacionPerfil.html">Embarcacion Perfil</a></li>
						<li><a href="/PIMC/views/archivosBusqueda.html">Busqueda Archivos</a></li>
				</ul>
		</div>
</nav>
