<section>
  <uib-tabset active="active">
    <uib-tab index="0" heading="Datos Principales"> 
      <div class="row p-t-2">
        
        <div id="datosPrincipalesPersonaje" class="col-sm-12 col-md-4">
          <h1 class="nombre">
            <span editable-text="datosPrincipales.titulo" 
                				onbeforesave="datosPrincipales.datoEditado('titulo',$data)"  
                				class="m-l-1"> {{ datosPrincipales.titulo || "Titulo" }}</span>
            <span editable-text="datosPrincipales.nombre" 
                				onbeforesave="datosPrincipales.datoEditado('nombre',$data)"  
                				class="m-l-1"> {{ datosPrincipales.nombre || "Nombre" }}</span>
          </h1>
          <h2 class="ocupacion">
            Ocupacion Principal: <span editable-text="datosPrincipales.ocupacion" 
                				onbeforesave="datosPrincipales.datoEditado('ocupacion',$data)"  
                				class="m-l-1"> {{ datosPrincipales.ocupacion || "Ocupacion" }}</span>
          </h2>
            
          <ul class="list-group m-b-0">
                
                <li class="list-group-item">
                	<span class="label label-primary">Sexo</span>
                	<span editable-text="datosPrincipales.sexo" 
                				onbeforesave="datosPrincipales.datoEditado('sexo',$data)"  
                				class="m-l-1"> {{ datosPrincipales.sexo || "No definido" }}</span>
              </li> 
              <li class="list-group-item">
                	<span class="label label-primary">Nacionalidades</span>
                	<span editable-text="datosPrincipales.nacionalidad" 
                				onbeforesave="datosPrincipales.datoEditado('nacionalidad',$data)"  
                				class="m-l-1"> {{ datosPrincipales.nacionalidad || "No definido" }}</span>
              </li> 
              <li class="list-group-item">
                	<span class="label label-primary">Lugar Nacimiento</span>
                	<span editable-text="datosPrincipales.lugarNacimiento" 
                				onbeforesave="datosPrincipales.datoEditado('lugarNacimiento',$data)"  
                				class="m-l-1"> {{ datosPrincipales.lugarNacimiento || "No definido" }}</span>
              </li> 
              <li class="list-group-item">
                	<span class="label label-primary">Fecha Nacimiento</span>
                	<span editable-text="datosPrincipales.fechaNacimiento" 
                				onbeforesave="datosPrincipales.datoEditado('fechaNacimiento',$data)"  
                				class="m-l-1"> {{ datosPrincipales.fechaNacimiento || "No definido" }}</span>
              </li> 
              <li class="list-group-item">
                	<span class="label label-primary">Lugar Fallecimiento</span>
                	<span editable-text="datosPrincipales.lugarFallecimiento" 
                				onbeforesave="datosPrincipales.datoEditado('lugarFallecimiento',$data)"  
                				class="m-l-1"> {{ datosPrincipales.lugarFallecimiento || "No definido" }}</span>
              </li> 
              <li class="list-group-item">
                	<span class="label label-primary">Fecha Fallecimiento</span>
                	<span editable-text="datosPrincipales.fechaFallecimiento" 
                				onbeforesave="datosPrincipales.datoEditado('fechaFallecimiento',$data)"  
                				class="m-l-1"> {{ datosPrincipales.fechaFallecimiento || "No definido" }}</span>
              </li> 
              <li class="list-group-item">
                	<span class="label label-primary">Enfermedades</span>
                  <ul class="nav nav-pills rounded">
            		<li role="presentation" class="active" 
            				onaftersave="listaEnfermedades.modificarBorrarEnfermedad($index,enfermedad)" 
            				editable-text="enfermedad" 
            				ng-repeat="enfermedad in datosPrincipales.listaEnfermedades track by $index">
            				<a href="#" class="bg-mountain_meadow">{{enfermedad}}</a>
            		</li>
            		<li role="presentation" 
            				editable-text="listaEnfermedades.enfermedadNueva.mensaje" 
            				onaftersave="listaEnfermedades.agregarEnfermedadNueva(listaEnfermedades.enfermedadNueva.mensaje)" 
            				e-ng-focus="listaEnfermedades.borrarCampo()" 
            				oncancel="listaEnfermedades.mostrarCampo()">
            				<a href="#">{{listaEnfermedades.enfermedadNueva.mensaje}}</a>
            		</li>
            	</ul>
              </li> 
              
          </ul>
        </div>

        <div id="parentescos" class="col-sm-12 col-md-8">
          <table>
            <tr><th colspan="2">Parentescos</th></tr>
            <tr><th>Personaje</th><th>Relacion</th></tr>
            <tr><td>Pepito Perez</td><td>primo</td></tr>
            <tr><td>Pepito Perez</td><td>primo</td></tr>
            <tr><td>Pepito Perez</td><td>primo</td></tr>
          </table>
        </div>

      </div>
      
      <div class="bottom"></div>

    </uib-tab>

    <uib-tab index="1" heading="Hoja de servicio">
      <div id="hojaServicioTabs" class="p-t-1">
        <uib-tabset active="active">
          <uib-tab index="0" heading="Listado">
            <div class="p-t-1"> 
              <table class="table-left">
                <tr ng-click="abrirElemento(0)"><th>Carrera</th><th>Clase</th><th>Institución</th><th>Al mando de</th><th>Lugar</th><th>Fecha</th></tr>
                <tr ng-click="abrirElemento(1)"><td>Carrera de armas</td><td>Una clase</td><td>Comando General</td><td>alguien</td><td>Puerto B</td><td>Enero 2016</td></tr>
                <tr ng-click="abrirElemento(2)"><td>Carrera de armas</td><td>Una clase</td><td>Comando General</td><td>alguien</td><td>Puerto B</td><td>Enero 2016</td></tr>
                <tr ng-click="abrirElemento(3)"><td>Carrera de armas</td><td>Una clase</td><td>Comando General</td><td>alguien</td><td>Puerto B</td><td>Enero 2016</td></tr>
                <tr ng-click="abrirElemento(4)"><td>Carrera de armas</td><td>Una clase</td><td>Comando General</td><td>alguien</td><td>Puerto B</td><td>Enero 2016</td></tr>
              </table>
            </div>
          </uib-tab>
          <uib-tab index="$index + 1" ng-repeat="tab in tabsArray" heading="{{tab[1].title}}">
          	<div class="row p-t-2">
              <div class="col-sm-12">
                <p>{{tab[1].content}}</p>
                <hr>
                <p class="text-right"><button class="btn btn-danger" ng-click="cerrarElemento(tab[0])">Cerrar Elemento</button></p>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </uib-tab>

   	<uib-tab index="2" heading="Comisiones y trabajos">
	    <div class="p-t-2"> 
	      <table class="table-left">
	        <tr><th>Tipo</th><th>Lugar</th><th>Fechas</th><th>Cargo o Función</th><th>Al mando o solicitada por</th><th>Institución</th></tr>
	        <tr><td>Guerra</td><td>Cartagena</td><td>Enero 2017 a abril 2018</td><td>Esto es un ejemplo</td><td>Fulano</td><td>Algun instituto</td></tr>
	        <tr><td>Guerra</td><td>Cartagena</td><td>Enero 2017 a abril 2018</td><td>Esto es un ejemplo</td><td>Fulano</td><td>Algun instituto</td></tr>
	        <tr><td>Guerra</td><td>Cartagena</td><td>Enero 2017 a abril 2018</td><td>Esto es un ejemplo</td><td>Fulano</td><td>Algun instituto</td></tr>
	        <tr><td>Guerra</td><td>Cartagena</td><td>Enero 2017 a abril 2018</td><td>Esto es un ejemplo</td><td>Fulano</td><td>Algun instituto</td></tr>
	      </table>
	    </div>
		</uib-tab>
		
		<uib-tab index="3" heading="Datos según documentación">
      <div class="row p-t-2">
        <div class="col-sm-12 col-md-4">
          <div class="fotoPerfil">
            <img class="img-responsive img-thumbnail p-a-2" src="images/perfilVacio.jpg" />
          </div>
        </div>
        <div id="notasAdicionales" class="col-sm-12 col-md-8">
          <h1>Comentarios</h1>
          <div class="notas">
            <p>Aca ira eventualmente una lista de comentarios de dicho personaje.</p>
            <ul> 
              <li>comentario 1</li> 
              <li>comentario 2</li> 
              <li>comentario 3</li> 
              <li>comentario 4</li> 
            </ul>
          </div>
        </div>
      </div>
	  </uib-tab>
	</uib-tabset>
</section>
