<div>
<span e-style = "widht:60%"
      editable-bsdate="pimcFechaConFormatoCtrl.fecha"
      e-is-open="pimcFechaConFormatoCtrl.opened.$data" 
      e-ng-click="pimcFechaConFormatoCtrl.open($event,'$data')" 
      e-datepicker-popup="{{pimcFechaConFormatoCtrl.formatoSeleccionado.formatoFecha}}"
      e-datepicker-options="pimcFechaConFormatoCtrl.formatoSeleccionado.datepickerOptions"
      ng-show="pimcFechaConFormatoCtrl.formatoSeleccionado.fechaActivado"
      onaftersave="pimcFechaConFormatoCtrl.reportarCambio()"
      blur="submit"> {{ pimcFechaConFormatoCtrl.fecha | date:pimcFechaConFormatoCtrl.formatoSeleccionado.formatoFecha || "No definido" }}
</span>
<span editable-bstime="pimcFechaConFormatoCtrl.fecha" 
      e-show-meridian="false"
      blur="submit"
      ng-show="pimcFechaConFormatoCtrl.formatoSeleccionado.horaActivado"
      onaftersave="pimcFechaConFormatoCtrl.reportarCambio()"
      class="input-small">
  {{ pimcFechaConFormatoCtrl.fecha | date: pimcFechaConFormatoCtrl.formatoSeleccionado.formatoHora }}
</span>
<strong>Formato = </strong><span editable-select="pimcFechaConFormatoCtrl.formatoSeleccionado" 
      e-ng-options="lugarTerritorio.texto for lugarTerritorio in pimcFechaConFormatoCtrl.listaFormatosPosibles"
      e-ng-change="pimcFechaConFormatoCtrl.cambiarFormato()"
      onaftersave="pimcFechaConFormatoCtrl.reportarCambio()"
      blur="submit"> ({{ pimcFechaConFormatoCtrl.formatoSeleccionado.template || "No definido" }})
</span>
</div>