    <div class="row">
        <div class="col-sm-12 col-md-4 p-t-1">
            <ul class="list-group m-b-0">
                <li class="list-group-item">
                    <span class="label label-primary">Nombre Institucion</span>
                    <span editable-text="instDatosPrincipalesCtrl.datosPrincipalesInt.contenido.nombre" 
                        onbeforesave="datoEditado('nombre', $data)"> 
                        {{ instDatosPrincipalesCtrl.datosPrincipalesInt.contenido.nombre || "Nombre Indeterminado" }}</span>
                    
                </li> 
                <li class="list-group-item">
                    <span class="label label-primary">Tipo de institucion</span>
                    <span editable-text="instDatosPrincipalesCtrl.datosPrincipalesInt.contenido.tipoInstitucion"
                        onbeforesave="datoEditado('tipoInstitucion', $data)"> 
                        {{ instDatosPrincipalesCtrl.datosPrincipalesInt.contenido.tipoInstitucion || "Indeterminado" }}</span>
                </li> 
                <li class="list-group-item">
                    <span class="label label-primary">Fecha de creación</span>
                    <pimc-fecha-con-formato
                        fecha = 'instDatosPrincipalesCtrl.datosPrincipalesInt.contenido.fechaCreacion'
                        formato = 'instDatosPrincipalesCtrl.datosPrincipalesInt.contenido.fechaCreacionFormato'
                        reportar-cambio="instDatosPrincipalesCtrl.fechaEditada(fecha, formato, 'fechaCreacion')">
                    
                </li> 
                <li class="list-group-item">
                    <span class="label label-primary">Fecha de terminación</span>
                    <pimc-fecha-con-formato
                        fecha = 'instDatosPrincipalesCtrl.datosPrincipalesInt.contenido.fechaTerminacion'
                        formato = 'instDatosPrincipalesCtrl.datosPrincipalesInt.contenido.fechaTerminacionFormato'
                        reportar-cambio = "instDatosPrincipalesCtrl.fechaEditada(fecha, formato, 'fechaTerminacion')">
                </li> 
                <li class="list-group-item">
                    <span class="label label-primary">Categoría</span>
                    <span editable-text="instDatosPrincipalesCtrl.datosPrincipalesInt.contenido.categoria" 
                        onbeforesave="datoEditado('categoria', $data)"  
                        class="m-l-1"> {{ instDatosPrincipalesCtrl.datosPrincipalesInt.contenido.categoria || "No definido" }}</span>
                </li> 
                <li class="list-group-item">
                <span class="label label-primary">Funciones</span>
                <p   
                    editable-textarea="instDatosPrincipalesCtrl.datosPrincipalesInt.contenido.funciones" 
                    e-rows="2" 
                    buttons="no" 
                    blur="submit"
                    onbeforesave="datoEditado('funciones', $data)">
                    {{instDatosPrincipalesCtrl.datosPrincipalesInt.contenido.funciones || "Funciones no asignadas"}}</p>
                </li> 
            </ul>
        </div>

        <div id="fotos" class="col-sm-12 col-md-8 p-t-1">
            <ul class="list-group m-b-0">
                <li class="list-group-item" style="max-height: 300px; overflow-y: auto;">
                    <pimc-comentarios-anotaciones 
                        notas="instDatosPrincipalesCtrl.notasInt" 
                        reportar-cambio="instDatosPrincipalesCtrl.notificarNotasCambios(notas)">
                    </pimc-comentarios-anotaciones>
                </li>
            </ul>
            <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
                <!-- Indicators -->
                <!-- <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol> -->
            
                <!-- Wrapper for slides -->
                <!-- <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://placekitten.com/g/600/400" alt="Uno" style="width:100%;">
                    </div>
                
                    <div class="item">
                        <img src="http://placekitten.com/g/600/400" alt="Dos" style="width:100%;">
                    </div>
                    
                    <div class="item">
                        <img src="http://placekitten.com/g/600/400" alt="Tres" style="width:100%;">
                    </div>
                </div> -->
            
                <!-- Left and right controls -->
                <!-- <a class="left carousel-control" data-target="#myCarousel" href="javascript:void(0);" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" data-target="#myCarousel" href="javascript:void(0);" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div> -->
          
        </div>

    </div>
  
    <div class="bottom"></div>