<div>
  <form
    name="inputForm">
    <input
      type="text"
      ng-class="'colt' + col.uid"
      ui-grid-editor
      typeahead-min-length="3"
      uib-typeahead="lugares.nombre as lugares.nombreMostrar for lugares in col.colDef.cargarLugaresTypeahead($viewValue)" 
      typeahead-wait-ms="100" 
      typeahead-on-select="col.colDef.onSelectLugaresTypeahead(MODEL_COL_FIELD,$item)"
      class="PIMCLugarTerritorioInput"
      ng-model="MODEL_COL_FIELD.lugarTerritorioNombre" 
      />
  </form>
</div>