#datosPrincipalesArchivo {
	width: 70%;
	float: left;
}
#datosPrincipalesArchivo ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}


#otrosDatosArchivoColDerecha {
	width: 25%;
	float: left;
}


#datosManuscrito > tr {
		text-align: center;
}

#datosSecundariosArchivo {
	width: 48%;
	float: left;
	padding: 20px;
}

#fechasColDerecha {
	width: 48%;
	float: right;
	padding: 20px;
}
#emisorReceptorTabla,  #personajesTabla {
	padding: 30px;
}
