
/*
 * Formato para todas las paginas
 * */
body {
   background-color: #fff4d4;
}

/*
 * Formato para menu encabezado
 * */
header {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}
.horizontal-collapse {
	height: 70px;
}
.navbar-collapse.in {
	overflow-y: hidden;
}

/*
 * Formato para una pagina que sólo tiene
 * contenido informativo como la principal
 */
.contenido {

    padding: 30px 50px;
    margin: 0 auto;
    background: #f8f8f8;

}

.contenido>p {
    text-align: justify;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
.contenido>h1 {
    margin-bottom:20px;
    
}

/*
 * Formato para secciones dentro de la aplicacion
 * */
section {
    text-align: center;
    margin: 0 auto;
    width: 80%
}

/*
 * Formato de tablas
 * */

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: left;
    padding: 8px;
    height: 30px;
}

tr:nth-child(even){background-color: #D2D2D2}
tr:nth-child(odd){background-color: white}

tr:hover
{
    background-color: #A4A4A4;
}

th {
    padding: 8px;
    height: 30px;
    background-color: #4C0F50;
    color: white;
    text-align: center;
}


/*
 * Formato para areas de busquedas
 * */

#searchBarArea {
    padding: 20px;
    text-align: right;
    margin: 0 auto;
}

#resultsArea {
    margin: 0 auto;
}

