
/*
 * Formato para todas las paginas
 * */
body {
   background-color: #dddfd4
;
}

/*
 * Formato para menu encabezado
 * */
header {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}
.horizontal-collapse {
	height: 70px;
}
.navbar-collapse.in {
	overflow-y: hidden;
}

/*
 * Formato para una pagina que sólo tiene
 * contenido informativo como la principal
 */
.contenido {

    padding: 30px 50px;
    margin: 0 auto;
    background: #f8f8f8;

}

.contenido>p {
    text-align: justify;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
.contenido>h1 {
    margin-bottom:20px;
    
}

/*
 * Formato para secciones dentro de la aplicacion
 * */
section {
    text-align: center;
    margin: 0 auto;
    width: 80%
}

/*
 * Formato de tablas
 * */

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: left;
    padding: 8px;
    height: 30px;
}

tr:nth-child(even){background-color: #D2D2D2}
tr:nth-child(odd){background-color: white}

tr:hover
{
    background-color: #A4A4A4;
}

th {
    padding: 8px;
    height: 30px;
    background-color: #173e43;
    color: white;
    text-align: center;
}

.tituloTabla {
    padding: 8px;
    height: 30px;
    background-color: #d5cdd6;
    color: black;
    font-weight: bold;
    text-align: center;
}

.nota{
    background-color:#d3edeb;
    position: relative;
    padding: 10px 20px 20px 20px;
}
.notaFecha{
    position:absolute;
    bottom: 0;
    right: 0;
}
.notaCerrar{
    position: absolute;
    top: 0;
    right: 0;
}
.notaReferencia{
    font-weight: bold;
    text-align: right;
    width: 95%;
}

.status-bar{
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 50px;
    background-color: #f8f8f8;
    padding: 5px 10px;
    margin: 0px auto;
    left: 0;
    right: 0;
    text-align: right;
}


